[2022-09-10 08:39] Avinash-ecb opened #1600 "Query builder Page - Multiple query delete button required in action button By Vinod sir"
**Describe the bug**
- In query builder page it is difficult to delete multiple queries so required multiple query delete option when select multiple query there should be action button in that we can delete multiple queries

https://www.berrycast.com/conversations/1b05c081-85fd-5863-926b-83cd286bdef3

[2022-09-10 08:59] Avinash-ecb opened #1601 "Query builder - Show related query to company, contact and other pages By Vinod Sir"
**Describe the bug**
- If one query apply to is company then this query only visible to company page and contact apply to should visible to contact page
- when click on arrow button then direct go to that related page like if apply to is company then redirect to company page

https://www.berrycast.com/conversations/33538ebf-39c2-507d-a582-d65ad1c03cb8

[2022-09-10 10:30] Avinash-ecb opened #1602 "Company Fees Contract Page - Required option to send contract to multiple client By Vinod Sir"
**Describe the bug**
- When we select multiple company then there should be option for send them contract

https://www.berrycast.com/conversations/f1d42c2b-d157-56ba-98f3-70a0f60cdc75

[2022-09-10 10:33] Avinash-ecb opened #1603 "Company Page - Required remove service, add tag and remove tag option in action"
**Describe the bug**
- when select multiple company there should be a remove service, add tag and remove tag option

https://www.berrycast.com/conversations/2cc592ca-7d02-5903-9507-d1ef2bb93098

[2022-09-10 10:37] Avinash-ecb opened #1604 "Project Deviation Page - Remove create button , show only project deviation , increase budget and time column width By Vinod sir"
**Describe the bug**

**Suggestion**
- Remove create button
- show only that project which has project deviation
- increase budget and time column width so we can see clearly

https://www.berrycast.com/conversations/991d7fa5-113e-5b32-b8c6-4aaffbc0cf0c

[2022-09-10 10:42] Harsheasy opened #1605 "When attaching ledger to email template it's shows blank pdf in email."
**Describe the bug**
Create a Template LedgerPDF File to send mail to the company but PDF file Data Blank

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '(https://rajassociates.easycloudbooks.com/user/template/email/list#)'
2. Click on Create new LedgerPDF file
3. then select a company to send mail of ledger pdf file.
4. but the mail sent has been blank PDF.

**Expected behavior**
las

[2022-09-12 05:12] vinpahilwani commented on #1560
I had discussion with mitul and he says if I allow project files then project files will not be displayed in files section which will create confusion among users.

I asked him then we should remove file section and only allow files on project, he does not agree with this idea also.

Considering these things will confuse users i do not approve this

[2022-09-12 05:12] vinpahilwani commented on #1560
I had discussion with mitul and he says if I allow project files then project files will not be displayed in files section which will create confusion among users.

I asked him then we should remove file section and only allow files on project, he does not agree with this idea also.

Considering these things will confuse users i do not approve this

[2022-09-12 05:14] vinpahilwani commented on #1588
We can postpone but we need to do it because i want to offer consistency in the use

[2022-09-12 06:32] Avinash-ecb opened #1606 "Document Page - after copy or cut paste button color is not highlighted"
**Describe the bug**
- When we copy/cut a folder or file we can not see any change in that file or folder (UI change)
- If there is ui change then we can easily identify the difference
-
https://www.berrycast.com/conversations/0e02ebf9-4b85-573d-9ff1-4ac28d31aab0

[2022-09-12 09:56] mitulpanch opened #1607 "Transaction Page - Create Transfer Print"
Problem-
More details required for Transfer Type Transaction

Initiated by @vinpahilwani
Verified by @mitulpanch

Design / Api change

1. Please provide all detail which is required for Transfer Type Transaction

More details required to start API change, Currently not getting any details

English Change-
Print => Transfer Print

![image](https://user-images.githubusercontent.com/5259926/189625726

[2022-09-12 09:57] mitulpanch commented on #1607
We have not created special print for Transfer Type, if requirement clears out then we could create new Design for "Transfer" Transaction Type

[2022-09-12 10:01] mitulpanch opened #1608 "Transaction Page - Create Discount Print"
Problem-
More details required for Discount Type Transaction

Initiated by @vinpahilwani
Verified by @mitulpanch

Design / Api change

Please provide all detail which is required for Discount Type Transaction
More details required to start API change, Currently not getting any details

English Change-
Print => Discount Print
![image](https://user-images.githubusercontent.com/5259926/189626835-19b1

[2022-09-12 10:02] mitulpanch commented on #1608
Please get Discount Preview, and give all requirement at once, so we can process and finish

[2022-09-12 10:32] mitulpanch commented on #1595
#1590

[2022-09-12 10:32] #1595 closed, assigned to mitulpanch

[2022-09-12 10:36] #1588 closed, assigned to nobody

[2022-09-12 10:39] mitulpanch opened #1609 "Company Page - Ledger Mode- Add Send Email / SMS / Notification Action"
Problem
1. User wants to send Email to Client, Multiple action has no email sending option

Solution
1. Add Email /SMS / Notification to Multiple Action

Initiated by @vinpahilwani
Verified by @mitulpanch

https://www.berrycast.com/conversations/3717d2a9-6a4a-5136-ac4a-67dd119fd112

[2022-09-12 10:40] mitulpanch commented on #1609
We do not have direct send Ledger button,
Flow is
1. Select "Send Email"
2. Select Ledger Template
3. Send Email

[2022-09-12 10:57] mitulpanch opened #1610 "Contact Page - Separate Change Tag to Create Tag / Remove Tag"
Problem-
1. Currently Change Tag functionality doing all in one section
2. this is not proper for some users
Solution
1.Add Tag / Remove Tag required in different Mode
2. Not sure about Change Tag is required or Not

Initiated by @vinpahilwani
Verified by  @mitulpanch

[2022-09-12 10:58] mitulpanch commented on #1610
Make 3 Different Section
1. Add Tag - add only
2. Remove Tag - remove only
3. Change Tag - remove all and add new tags

[2022-09-12 11:00] mitulpanch commented on #1600
this will be taken after , Page migration to new theme

[2022-09-12 11:03] vinpahilwani commented on #1610
Done

[2022-09-12 11:04] vinpahilwani commented on #1607
If we are providing print option then we should provide it systematically for discount as well as for transfer

[2022-09-12 11:05] vinpahilwani commented on #1608
as we provide print we should provide enough details

[2022-09-12 11:30] mitulpanch commented on #1608
Please Specified what is required?
OR just Print => Discount Print enough?

[2022-09-12 11:31] mitulpanch commented on #1607
not clear what is required?

[2022-09-12 11:34] mitulpanch commented on #1599
Problem
1. Query Title should be required

Solution
Make Title Required

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-12 11:34] mitulpanch commented on #1599
This is scheduled after Page Theme Migration

[2022-09-12 11:36] mitulpanch commented on #1599
This is only for Query Builder Page
Currently not implementing for Query Builder Plugin which comes on every page

[2022-09-12 11:37] mitulpanch commented on #1602
#1609
Duplicate

[2022-09-12 11:37] #1602 closed, assigned to mitulpanch

[2022-09-12 11:40] mitulpanch commented on #1601
not sure about consequences about this,
Query Builder is Plugin which comes to every page
so need to think about this, after Page new theme Migration

[2022-09-12 11:50] mitulpanch opened #1611 "Company Page - Contract View - Send Email / SMS / Notification Option"
Problem-
1. user wants to send Contract as Email

Solution
1. Add Email / SMS / Notification Option to multiple Select
2. Need to change Email Template to create [ContactLink] key to send email
3. same Key for SMS / Notification
4. Attach PDF also required

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-12 11:52] vinpahilwani commented on #1609
can you show me video how to do that ??

[2022-09-12 12:34] mitulpanch commented on #1596
Its already showing Unsettled Invoice / Receipt, but
Ledger pe only Invoice Unsettled ka count manga tha

If Invoice / Receipt Count required then please specify here

Now about Click and show part
Filter available on Transaction page can show any one Type at a time
either Invoice or Receipt

![image](https://user-images.githubusercontent.com/5259926/189654361-84b4ee7b-44c3-40a7-b103-aee9d9dabdf3.

[2022-09-12 12:37] mitulpanch opened #1612 "Company Page - Ledger Mode- Show Unbilled project when clicked on Count"
Problem-
User want to see Project which are unbilled, when clicked on Unbilled project count

Technical error
Project may be on any stage, like Completed, Review , Finished
so matching of Count can not be done, so was not created initially

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-12 12:41] mitulpanch opened #1613 "Project Page - Deviation View - Remove Create Project Button"
Remove Create Project Button from deviation view

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-12 12:46] mitulpanch opened #1614 "Project Page - Deviation View - decrease Company Name Column View"
@vinpahilwani wanted to decrease Company Column Size

![image](https://user-images.githubusercontent.com/5259926/189656763-333b2737-e0cb-4f6e-80cd-28bd38ca1bb4.png)

Technical Error
Decreasing Size of column will effect in all view, only deviation view is not possible

If this is done, then All view , List view ,
will have same size, as we use same code for all, with some column on /off depending

[2022-09-12 12:48] mitulpanch commented on #1591
No comments added from @vinpahilwani / @sureshsirvi

[2022-09-12 12:49] mitulpanch commented on #1591
Moving forward to Development

[2022-09-12 12:49] mitulpanch commented on #1587
This is required

[2022-09-12 12:49] #1587 closed, assigned to mitulpanch, dharmendraecb

[2022-09-12 12:51] mitulpanch commented on #1584
not  required

[2022-09-12 12:51] #1584 closed, assigned to dharmendraecb

[2022-09-12 13:00] mitulpanch commented on #1606
Please Color Change to highlight if not done

[2022-09-12 13:01] mitulpanch commented on #1575
I dont think we need to redirect, because user ka flow break ho jayega

still @vinpahilwani / @sureshsirvi  please provide you views

[2022-09-12 13:12] #1609 closed, assigned to nobody

[2022-09-12 13:21] mitulpanch opened #1615 "Company Page- Archive Button Required"
User wants to Archive Company to make Inactive

Solution
1. Create "Archive" button to make company Inactive in View Mode
2. Role is Edit Company
3. Remove all Attached Service
4. Stop Contract Transaction auto Creation
5. Stop Service Scheduler for Project
6. Manual Transaction can be created for Archived Company
7. Manual Project Creation is not clear - @vinpahilwani / @sureshsirvi please elabor

[2022-09-12 13:22] mitulpanch commented on #1615
This is just Company Page Design
Effect of this will take some time to develop

[2022-09-12 13:23] vinpahilwani commented on #1615
done

[2022-09-12 13:24] mitulpanch commented on #1615
Please dont move issues sir

[2022-09-12 13:25] vinpahilwani commented on #1575
Not Required

[2022-09-13 05:21] mitulpanch commented on #1598
this is going to change after testing
Default is Common Folder

[2022-09-13 05:21] #1598 closed, assigned to mitulpanch, dharmendraecb

[2022-09-13 05:24] Avinash-ecb commented on #1515
After discussion with @mitulpanch sir on phone, It is not working just design is completed

[2022-09-13 05:51] vinpahilwani commented on #1608
1. unique number
2. Discount against invoice number 2, 4, and 5
3. Note : Entry done by ----

[2022-09-13 05:54] vinpahilwani commented on #1607
1. Uniqu number
2. show two colum DR. CR.
3. particulars - show konse account me dr and konse account me credit
4. note me entry done by

[2022-09-13 05:54] vinpahilwani commented on #1611
approved

[2022-09-13 06:03] mitulpanch commented on #1612
Transaction Page has Unbilled Project list, but that solely can not be opened on any page, as
it is sub module of Transaction Page, and has interlinked functionality on Transaction Page

[2022-09-13 06:11] vinpahilwani commented on #1612
Hum yeh dikhate hai transaction page pe udhar koi problem nahi hai? wohi humko idhar dikhana hai side se

[2022-09-13 06:11] vinpahilwani commented on #1596
Hum yeh dikhate hai transaction page pe udhar koi problem nahi hai? wohi humko idhar dikhana hai side se

[2022-09-13 06:12] mitulpanch commented on #1612
because its part of transaction page, if you want to show some where else its needed as independent module , to open in side popover

[2022-09-13 06:28] Avinash-ecb opened #1616 "Company Custom Field - Sorting icon is not available when sorting with company column"
**Describe the bug**
- when sorting with company column it is not showing any icon for sorting

https://www.berrycast.com/conversations/fd9a28d6-2d09-5c12-b8b1-2f14431cc6fa

[2022-09-13 06:46] Avinash-ecb opened #1617 "Company custom field - Issue on favorite company display (star UI issue)"
**Describe the bug**
- when we check favorite company then it shows favorite company but its star color is not changed

https://www.berrycast.com/conversations/f605f698-897b-563b-b3c0-47698b629dc1

[2022-09-13 07:14] mitulpanch commented on #1614
Are you ok with it? @vinpahilwani

[2022-09-13 08:02] mitulpanch opened #1618 "Project Page - Role Change - Remove Read / Edit Custom Field Role"
To simplify role - suggestion to remove Edit / Read Custom field role and align it with Project Permissions

Solution
1. Remove Read / Edit Custom Field Role
2. Set them as , If member / Manager has access user can edit custom field
3. and Service Manager / Company Relationship Manager can edit Custom Field

Verified by @vinpahilwani
Initiated by @mitulpanch / @dharmendraecb

[2022-09-13 11:29] mitulpanch commented on #1611
2 New Modes Added - API

1.companycontract-currentyear
2. companycontract-pastyear

[2022-09-13 11:42] mitulpanch commented on #1611
1 New Key for All templates

[@ecbcompanycontractlink]

[2022-09-13 11:42] dharmendraecb commented on #1591
Please Approve!
@vinpahilwani @sureshsirvi

![image](https://user-images.githubusercontent.com/46588108/189892186-49d203d9-1fa8-4f0d-85d2-d0cb330e9b3f.png)

[2022-09-14 04:24] Avinash-ecb opened #1619 "Company Custom Field - Data is not trim when saved in company custom field"
**Describe the bug**
- when we are saving custom field if there is extra space then it also saved in company custom field
- Extra space should be trim when save data

![image](https://user-images.githubusercontent.com/46588125/190059060-a04e5d49-8fa3-49c6-af0a-ac4191617511.png)
https://www.berrycast.com/conversations/55787b9c-0ae0-5963-a269-06d88303a474

[2022-09-14 05:29] Avinash-ecb opened #1620 "Staff Page - There is not any save button when we shift work to another staff By Suresh Sir"
**Describe the bug**
- If we try to shift work from one staff to another there is not any save button so we can not shift work currently

![image](https://user-images.githubusercontent.com/46588125/190066941-3fd1fb15-d483-4d25-a81a-480495b6c6a3.png)

https://www.berrycast.com/conversations/3b3144af-c8e5-52f2-b784-c67cb0ada5a6

[2022-09-14 06:23] dharmendraecb commented on #1585
AutoComplete Cancel Button (Removed).
This Modal Only Change Folder Option . Can't Fill Data And By Default Selected.

[2022-09-14 06:24] Avinash-ecb opened #1621 "Company custom field - UI issue in deleted custom field"
**Describe the bug**

- Deleted custom field are overlapping

![image](https://user-images.githubusercontent.com/46588125/190075512-efd1113c-ffa7-4f12-8ee5-ba1792db0162.png)

[2022-09-14 06:42] dharmendraecb commented on #1582
This Page was been Testing.
All Done After This Page Transfer old Url

[2022-09-14 08:15] Avinash-ecb opened #1622 "Company Custom Field - When remove text from 'company-service' type custom field then also it shows text"
**Describe the bug**
1. Add text custom field of company  service type
2. remove all service from that company
3. remove text from that custom field then it shows text it is not changing

https://www.berrycast.com/conversations/59485540-d18e-5578-9f99-273d1bfc5784

[2022-09-14 10:16] #1575 closed, assigned to Avinash-ecb

[2022-09-14 10:16] mitulpanch commented on #1566
No possible solution, Closing now

[2022-09-14 10:16] #1566 closed, assigned to nobody

[2022-09-15 02:15] mitulpanch commented on #1619
data do not trim on custom field, this are space , case sensitive data

[2022-09-15 02:16] #1619 closed, assigned to mitulpanch, dharmendraecb

[2022-09-15 03:32] Avinash-ecb opened #1623 "Email Template Page - Decrease width of filename column so we can see remove button"
**Describe the bug**
- First when we added any attachment by mistake we can not see any remove button to remove that attachment

**Suggestion**
- so decrease width of filename column so we can see remove button

![image](https://user-images.githubusercontent.com/46588125/190307643-3de6f1b3-b8c7-4a10-b8ec-893ff9ecc0eb.png)

https://www.berrycast.com/conversations/564b553a-22b1-5b38-afae-b602999dabc

[2022-09-15 04:39] Avinash-ecb opened #1624 "Company custom field - Showing two same group in custom field with small and capital letter"
**Describe the bug**
- In custom field view there is showing two group first 'group2' and second 'Group2'.
- when we adding custom field we can see a group is 'group2' but in table it is showing like 'Group2'

![image](https://user-images.githubusercontent.com/46588125/190315716-d37a3f84-229e-4aa8-bd3a-e9809f077a2d.png)

https://www.berrycast.com/conversations/63fdb41b-78c4-51ad-a6ee-f65ca8492847

[2022-09-15 09:19] Avinash-ecb commented on #1605
https://www.berrycast.com/conversations/079fe88e-b02c-57bc-83a3-7c33df3d78d4

[2022-09-15 09:19] #1605 closed, assigned to dharmendraecb

[2022-09-15 12:48] vinpahilwani commented on #1559
1. Humko auto contract me add karna hai current year me
2. On off button hoga

[2022-09-16 04:20] Avinash-ecb commented on #1577
https://www.berrycast.com/conversations/88faa5dc-b185-56c2-be50-b197fde8e9d7

[2022-09-16 04:20] #1577 closed, assigned to dharmendraecb

[2022-09-16 05:13] Avinash-ecb commented on #1570
https://www.berrycast.com/conversations/38f9de9b-8b22-5536-b6a9-1a176257f9f1

[2022-09-16 05:13] #1570 closed, assigned to mitulpanch, dharmendraecb

[2022-09-16 05:16] dharmendraecb commented on #1579
Setting Date Format Sample (Wed, Sep 7, 2022) but Document List In Date format Sample (Wed, Sep 7, 2022 1:22 PM) Time include

[2022-09-16 06:20] mitulpanch opened #1625 "Company Page - Contract View - Change Contract "Approved" to "Checked""
Problem-
User may take different meaning for "Approved"

Solution suggested by @vinpahilwani
Change Name to "Checked"

initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-16 06:22] mitulpanch opened #1626 "Company Page - Contract View - Per Project Billing - Design Change"
Problem -
Billing Mode name change Required

Solution
Change to "Billing Event"

![image](https://user-images.githubusercontent.com/5259926/190570299-602a0d48-40bf-4ebb-b4ac-c9e0cab74581.png)

initiated by @vinpahilwani
verified by @mitulpanch

[2022-09-16 06:22] mitulpanch commented on #1626
"No Service Found" to "No Service Attached"

[2022-09-16 06:26] mitulpanch opened #1627 "Company Page - Contract View - Per Project / Auto Billing - Tax Setting auto complete design Change"
Problem -
1. User want to see Total Tax Percentage in Tax Autocomplete in Per project and Auto Billing Tax Selection Autocomplete

Solution
1. Show Tax percentage along with Name

Design

1. if Tax is 9% cgst and 9% sgst then => GST (18%)
 show Total Tax Percentage
2. if tax is 10% with 150 Rs amount => GST (10% + 150)

initiated by @vinpahilwani
verified by @mitulpanch

[2022-09-16 06:27] mitulpanch commented on #1627
![image](https://user-images.githubusercontent.com/5259926/190571169-97973b1a-a702-4492-9ca1-a4793eed0d32.png)

[2022-09-16 06:27] mitulpanch commented on #1627
API changes are also required to do this

[2022-09-16 06:28] mitulpanch commented on #1625
![image](https://user-images.githubusercontent.com/5259926/190571317-edfcf549-adea-4d49-8fc1-17aa3418ba32.png)

Please provide word for before and After approval
@vinpahilwani

[2022-09-16 06:31] mitulpanch opened #1628 "Company Page - Contract View - Auto Billing -Show Pre Service Count"
Design Change Required

![image](https://user-images.githubusercontent.com/5259926/190571675-e8dfbb8d-c98d-4d55-8aeb-e0e8ae4259c6.png)

Show service count with "Total Annual Fees"

Initiated by @vinpahilwani
verified by @mitulpanch

[2022-09-16 06:32] mitulpanch commented on #1628
"Pre Contract Service" count that selected inside "Annual Fees" as first stage

[2022-09-16 07:25] mitulpanch opened #1629 "Company Page - Contract View - Checked Contract Filter Required"
User wants to see which Company Contract view need Checking

Solution
Add Contract checked "Is Checked" Filter for Contract View only

This should not come to Other Views

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-16 07:26] mitulpanch commented on #1629
@vinpahilwani
Please Provide Title for "Is Checked" Filter Title

[2022-09-16 07:29] mitulpanch opened #1630 "Company Page - Contract View- Create Customized new Filter Area"
Problem-
User dont want additional filter in this Area,

Solution
Create New Filter area for this View

Technical Detail -
Currently We have not created any special filter area for Different Views,
If this is required than new section needed

Design
@vinpahilwani Please Provide how many filters required in Contact View

Time Required - 0.5 - 1 Day

[2022-09-16 07:31] mitulpanch opened #1631 "Company Page - All View - Filter - Shift Rows count to Last"
@vinpahilwani suggested to Shift Row count to Last of Filter

initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-16 07:45] mitulpanch opened #1632 "Company Page - Contract View - Per Project View - Change Check Box to ON / Off button"
Problem-
Check box is used to switch OFF auto Billing for Per Project Billing,
instead of this ON / OFF switch button required for better understanding

Discussed over Phone with @vinpahilwani
![image](https://user-images.githubusercontent.com/5259926/190583268-d04a2eed-83fc-41d4-ba83-e65e7295a765.png)

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-16 07:49] mitulpanch commented on #1632
ON / OFF switch is difficult designing, I suggest better to stick with checkbox, on Check box check / uncheck
"Auto Billing for 8 Service"  section auto changes for user understanding

[2022-09-16 08:40] Avinash-ecb commented on #1613
![image](https://user-images.githubusercontent.com/46588125/190595699-aea5fb7c-4f33-4e86-9a27-dce33dc98c09.png)

[2022-09-16 08:40] #1613 closed, assigned to nobody

[2022-09-16 08:48] mitulpanch opened #1633 "Project Page - Custom Field View - Role Required"
Problem -
1. Previously "Report" was Role name that provides Role requirement to this functionality
2. Previous design Menu name was Report for All Custom Field View for Contact , Company, Project so Role name was Report
3. After "Report" role removal, Project Custom Field List Role is missing
4. so New User can not assign Role for This page
5. Company and Contact Custom Fields are aligned with Co

[2022-09-16 09:20] Avinash-ecb commented on #1578
![image](https://user-images.githubusercontent.com/46588125/190599081-27c5c881-feec-4f3a-993b-1241e39b8e5d.png)

[2022-09-16 09:20] #1578 closed, assigned to nobody

[2022-09-16 10:52] vinpahilwani commented on #1633
Yes Role is Required

[2022-09-16 10:52] vinpahilwani commented on #1633
Yes Role is Required

[2022-09-16 10:52] vinpahilwani commented on #1633
Yes Role is Required

[2022-09-16 10:54] vinpahilwani commented on #1591
Yes required

[2022-09-16 10:54] vinpahilwani commented on #1625
Yes and Also Required filter for checked and unchecked

[2022-09-16 10:55] vinpahilwani commented on #1626
Yes

[2022-09-16 10:56] vinpahilwani commented on #1627
yes

[2022-09-16 10:58] vinpahilwani commented on #1628
yes

[2022-09-16 10:59] vinpahilwani commented on #1629
Contract Check :  [] Yes  []No

[2022-09-16 11:02] vinpahilwani commented on #1630
We can wait its not urgent "Not Required Now"

[2022-09-16 11:03] vinpahilwani commented on #1631
Yes

[2022-09-16 11:05] vinpahilwani commented on #1632
We can postpone not urgent

[2022-09-16 11:05] vinpahilwani commented on #1632
We can postpone not urgent

[2022-09-16 11:05] vinpahilwani commented on #1632
We can postpone not urgent

[2022-09-16 11:19] mitulpanch commented on #1633
Please give suggestion for Role name and Sub type?

I suggest this should be independent Role -
ie. Project Custom Field -> Read , Edit

Please provide your View, Placement should be just below Project Role

[2022-09-16 11:24] mitulpanch commented on #1632
I think we have enough Service Name space, as @vinpahilwani suggested to write
"Service Name (Auto Billing)" for checked service
and "Service Name" for unchecked Services

before i though that there is not enough space on some side views , but looks like it would fit correctly

[2022-09-16 11:25] mitulpanch commented on #1632
ON / Off plugin not required as discussed over phone, instead text "Auto Billing" needed on Service Name

[2022-09-16 11:26] mitulpanch commented on #1630
coding for different view Show / hide is time consuming so leaving for now

[2022-09-16 11:26] #1630 closed, assigned to nobody

[2022-09-16 11:31] mitulpanch commented on #1591
if you have any suggestion for design please provide @vinpahilwani @sureshsirvi

[2022-09-16 11:32] mitulpanch commented on #1625
yes different issue for that
#1629

[2022-09-16 11:33] mitulpanch commented on #1625
@vinpahilwani Please Provide English for "Checked" / "Check It!"

ie "Approved" / "Approve It"

[2022-09-16 12:05] vinpahilwani commented on #1625
Button : Approve
Par filter me woh Approved hoga

[2022-09-16 12:05] vinpahilwani commented on #1633
Matlab?

[2022-09-16 14:40] mitulpanch commented on #1633
Project Custom Field -> Read , Edit
ye role bana du?

[2022-09-16 14:41] mitulpanch commented on #1625
"Checked" / "Check It!" ye chalega?

[2022-09-17 04:09] Avinash-ecb opened #1634 "Document Page - When rename folder it opens and goes inside"
**Describe the bug**
- when we rename any folder it goes inside folder

https://www.berrycast.com/conversations/0344b12f-335e-5db5-8e78-ad59d07a1cd4

[2022-09-17 04:18] Avinash-ecb commented on #1586
https://www.berrycast.com/conversations/60a4e6d1-0811-5668-a583-9620186e42f2

[2022-09-17 04:18] #1586 closed, assigned to mitulpanch, dharmendraecb

[2022-09-17 05:25] Avinash-ecb commented on #1581
https://www.berrycast.com/conversations/43ab6641-8934-5293-a9cf-6ce080634658

[2022-09-17 05:58] Avinash-ecb commented on #1591
https://www.berrycast.com/conversations/b673b185-cf63-51f6-b0bb-0799ea0a1721

[2022-09-17 05:58] #1591 closed, assigned to nobody

[2022-09-17 08:59] Avinash-ecb commented on #1583
https://www.berrycast.com/conversations/caeb2496-c3f9-5868-b241-95621deca55b

[2022-09-17 09:28] mitulpanch opened #1635 "Company Page - Contract View - On Project Create Attach Service to Company"
Problem-
No Problem- Additional functionality required

Requirement
1. When Project gets created Auto Add that Project Service to Relevant Company section
2. Attach Service to Service Scheduler for Company (1st section of Company, to recreate project), if Service have schedulers assigned
3. Attach service to Auto Billing for Company (2nd section of Company, to auto bill on schedule), if Service Bi

[2022-09-17 09:29] mitulpanch commented on #1635
I have already explained problem over phone to @vinpahilwani

[2022-09-17 09:33] mitulpanch commented on #1635
@vinpahilwani have different requirement for Auto Add to Billing

1. Only add Service to Company if not present, and Set remove "Checked/Approved" status, so User can reprocess things
2. For next Year only add Service that added to First Step, and Set remove "Checked/Approved" status, And Prices for Other Service should not change,
3. The Problem is- When contact copies from Previous Year, system

[2022-09-17 09:34] mitulpanch commented on #1635
Finally agreed upon,
If possible with extra efforts do above scenarios, or Just Reset Next year contract same as Current Year is Good

[2022-09-17 11:15] mitulpanch commented on #1629
contractchecked new parameter into API for this

If Yes => Both Schedule Billing and Per-Project Billing contract is Approved
else NO => Any of Schedule OR Per-Project Contract is not Approved

[2022-09-17 11:16] Avinash-ecb commented on #1589
![image](https://user-images.githubusercontent.com/46588125/190853892-9b6dedbf-e240-4bae-9d6d-7843038cf74e.png)

[2022-09-17 11:16] #1589 closed, assigned to nobody

[2022-09-17 15:31] vinpahilwani commented on #1633
Yes aisa hi

[2022-09-19 03:30] #1582 closed, assigned to dharmendraecb

[2022-09-19 04:05] Avinash-ecb commented on #1580
https://www.berrycast.com/conversations/5deda950-a924-53a8-9543-b551fda29b68

[2022-09-19 04:05] #1580 closed, assigned to mitulpanch, dharmendraecb

[2022-09-19 05:12] Avinash-ecb commented on #1565
https://www.berrycast.com/conversations/87f05b7b-a548-5dd8-9c9e-e8ad2cdf2be8

[2022-09-19 05:12] #1565 closed, assigned to nobody

[2022-09-19 05:22] vinpahilwani commented on #1635
@mitulpanch Finally Kya hone wala hai?

[2022-09-19 05:29] vinpahilwani commented on #1635
1. Current Yera me service add ho jaye jabhi koi contract bane  and checked status unchecked ho jaana chahiye
2. Next year contract copy hoga current year se.

[2022-09-19 05:57] mitulpanch commented on #1635
For First Step, Previous logic was,
Only Add Service to Service Scheduler once, (so if user dont want service scheduler for any company he can stop it, and system will not add particular service again to same company)
This policy benefits both system (saving resource on each round) and user(who dont want can take it off)

but @vinpahilwani , want to remove that logic , and Add Service to Company S

[2022-09-19 07:00] Avinash-ecb commented on #1564
https://www.berrycast.com/conversations/c86843b3-b107-5134-ad7d-c69d80eb007e
https://www.berrycast.com/conversations/d79e6642-1a19-5055-8e24-0f5366c15e30
![image](https://user-images.githubusercontent.com/46588125/190964685-2ce5ceba-9812-417e-b5c9-5750f4c9c177.png)

[2022-09-19 07:00] #1564 closed, assigned to nobody

[2022-09-19 08:03] mitulpanch commented on #1615
Effect Coding -
1. Stopping Service Scheduled Project Creation Trigger, No new Project gets triggers for Auto Creation from Scheduler, although Previously pending Project creation will clear que and create All Pending Project.
2. Stopping Auto Bill Creation from Scheduler - No new Bill get triggered for Auto Creation from Scheduler, although Previously pending Transaction creation will clear que a

[2022-09-19 08:55] Avinash-ecb commented on #1621
![image](https://user-images.githubusercontent.com/46588125/190982880-709da7dc-b0c5-4638-8886-137caa4e0c09.png)

[2022-09-19 08:55] #1621 closed, assigned to mitulpanch, dharmendraecb

[2022-09-19 09:58] Avinash-ecb commented on #1616
![image](https://user-images.githubusercontent.com/46588125/190993546-aa01314f-6e79-4d7a-9e8c-89f85f862135.png)
![image](https://user-images.githubusercontent.com/46588125/190993489-a7ed5093-ae75-4648-927e-73485752f8ee.png)

[2022-09-19 09:58] #1616 closed, assigned to dharmendraecb

[2022-09-19 10:08] mitulpanch opened #1636 "Company Page - Custom Field View - Custom Field Name - Display (space) instead of -(dash)"
Problem -
User wants to see space instead of -(dash) for Custom Field Name.

Technical Error-
1. Space is not allowed for Custom Field Name, due to multiple usage of name
2. Custom fields are identified by name at no of place ie. Email template, Keys, Print section, All Templates
3. So allowing Space will create lot of problem, considering this Space was never allowed for custom field name instead

[2022-09-19 10:10] mitulpanch commented on #1636
@vinpahilwani suggested to display Space instead of -(dash) at Custom Field List view, and Filling area

Other area will continue -(dash) to stop key problems

[2022-09-19 10:12] mitulpanch commented on #1636
1. Custom Field List
![image](https://user-images.githubusercontent.com/5259926/190995692-54bd0a5f-ac43-4f02-a374-7f72c97cf376.png)

2. Custom Field side popover
![image](https://user-images.githubusercontent.com/5259926/190995789-3d0b3a9d-29a0-418e-a8c8-4cea8648409e.png)

Only these 2 area will have space instead of -(dash)

[2022-09-19 11:11] Avinash-ecb commented on #1617
![image](https://user-images.githubusercontent.com/46588125/191005081-20083b22-b2bb-4196-8ca4-adf6d40f57fc.png)

[2022-09-19 11:11] #1617 closed, assigned to dharmendraecb

[2022-09-19 11:55] mitulpanch opened #1637 "File Module - New Requirement"
New Module-
Requirements
1. EasyCloudBooks should know which files are missing, and which are complete
2. Contact Person (clients of PGRT Company) should be able to easily upload Files
3. Staff should be able approve / reject files

Solution Discussed over Phone with @vinpahilwani
1. File Module requirement same as Custom Field, Custom Field can not store Files so new module is required
2. Total 6

[2022-09-19 12:01] mitulpanch commented on #1637
14. Staff needs to Approve file Object as whole, by seeing all files inside File Object Folder, so easycloudbooks can understand what is complete
15. we can say that File Object taken is kind of Folder managed by easycloudbooks, there will be multiple files inside one file object
16. Task module will create task if something changed inside Folder, so somebody can attend that task
17. There will be

[2022-09-19 12:02] mitulpanch commented on #1637
19. Not sure how to move file between different folders, this needs discussion, as technical thing for moving file requires too much logic, if required, only then we should proceed with this

[2022-09-19 12:04] mitulpanch commented on #1637
@vinpahilwani @sureshsirvi
both of you please provide your views, requirements, problems

[2022-09-20 04:29] Avinash-ecb opened #1638 "Company Custom field Page - Show company name when change custom field view"
**Describe the bug**
- We can not find which company's custom field we are changing
- Show company name in custom field view
![image](https://user-images.githubusercontent.com/46588125/191167513-a09ac138-54cb-45fc-9f21-65b0e2aa70d5.png)

https://www.berrycast.com/conversations/ab258956-295c-50eb-8315-a02cbb6b9df4

[2022-09-20 04:32] Avinash-ecb opened #1639 "Company custom field page - Action is not available when we select multiple companies"
**Describe the bug**
- when we select multiple company action is not showing

![image](https://user-images.githubusercontent.com/46588125/191167957-20f44174-e28f-436e-bfba-2e25ed25e55a.png)

https://www.berrycast.com/conversations/e9354922-6a9c-5cd6-b0df-2c2f9f5f6907

[2022-09-20 04:35] Avinash-ecb opened #1640 "Company custom field - Change create company button to create company custom field"
**Describe the bug**
- when we click on create button it opens company create view
- There should be company custom field button instead of company create

![image](https://user-images.githubusercontent.com/46588125/191168385-6934fd3a-617c-4eb4-9ac9-a26dcb7112b8.png)

https://www.berrycast.com/conversations/bada4804-fd34-5b43-bbcd-3c6f5b24f5cb

[2022-09-20 04:38] mitulpanch commented on #1640
Already in development

[2022-09-20 04:38] #1640 closed, assigned to mitulpanch, dharmendraecb

[2022-09-20 04:39] mitulpanch commented on #1639
Adding Email / SMS / Notification to action
OR removing Action button

[2022-09-20 04:47] Avinash-ecb opened #1641 "Contact Page - add tag and remove tag is not showing when we change in single contact"
**Describe the bug**
- when we try to add or remove tag from single contact there is not showing any option to add or remove tag

![image](https://user-images.githubusercontent.com/46588125/191169512-b694c330-436f-494c-b6e7-8348acf14a66.png)

https://www.berrycast.com/conversations/0d04dc86-a76f-5d86-bdef-a8a2859760f0

[2022-09-20 05:18] Avinash-ecb commented on #1641
After discuss with @mitulpanch sir on phone, when change in single contact there is only change tags option is available

[2022-09-20 05:18] #1641 closed, assigned to mitulpanch, dharmendraecb

[2022-09-20 05:19] Avinash-ecb opened #1642 "Company custom field Page - create custom field button not working in custom field detail view"
**Describe the bug**
- when we try to change custom field there is create button which is not working

![image](https://user-images.githubusercontent.com/46588125/191173307-28fbbf16-3837-4889-a5cb-4893c89b30a4.png)

https://www.berrycast.com/conversations/355afe33-6b6c-5d6f-8dc1-a4bc714a24ce

[2022-09-20 05:23] Avinash-ecb opened #1643 "Company custom field - There should be option for upload data using file in custom field"
**Describe the bug**
- there should be option for upload file and update custom field record in company custom field

https://www.berrycast.com/conversations/a5b28ae0-a06d-5609-b63c-619fb5cd615d

[2022-09-20 05:29] Avinash-ecb opened #1644 "Company Custom field Page - Enhancement : How to make it easy to collect custom field data"
**Describe the bug**

Enhancement : How to make it easy to collect custom field data

https://www.berrycast.com/conversations/429bb6ec-6936-5a31-977c-e54bf3d42644

[2022-09-20 06:27] Avinash-ecb commented on #1603
https://www.berrycast.com/conversations/61dc7a99-0c50-563f-94ac-a4bc01a0575a

[2022-09-20 06:27] #1603 closed, assigned to mitulpanch

[2022-09-20 07:53] mitulpanch commented on #1637
One more thing that i see as a problem,

@vinpahilwani wanted that Client will provide some file witch are shared between projects, this kind of setup is not available to custom field

Detail view-
Lets find out type of Types with Example
1. Pan card - Company level common, this is required only once in lifetime, may be asked for update / KYC but in lifetime this is required only once - called wit

[2022-09-20 08:00] dharmendraecb commented on #1632
![Image](https://user-images.githubusercontent.com/46588108/191201539-2899aabb-2f12-4c4b-b80f-00d512b1d5da.png)

[2022-09-20 08:05] mitulpanch commented on #1637
As discussed with @vinpahilwani over phone
Only 4 Types Required
1. Company - Once in lifetime File
2. Company-Service - Once in lifetime File but required only when Service is attached to Company
3. Company-Legal-Structure - (new Mode) - Once in lifetime File but required only when Company's Legal structure is having some Value
4. Project-Service - (Meaning- Project-Service-Yearwise) - (new mode)

[2022-09-20 08:15] dharmendraecb commented on #1638
![image](https://user-images.githubusercontent.com/46588108/191204756-4f065667-4116-4d11-be4e-e5d0e36ad884.png)

[2022-09-20 08:17] mitulpanch commented on #1615
Design -
Header is required
"This Company is in Archive Mode"

[2022-09-20 08:18] mitulpanch commented on #1615
No Comment from @sureshsirvi

[2022-09-20 09:03] Avinash-ecb commented on #1610
https://www.berrycast.com/conversations/0dced9d4-8fee-55ef-a010-97ac5c9f6cf8

[2022-09-20 09:03] #1610 closed, assigned to nobody

[2022-09-20 09:38] mitulpanch opened #1645 "Payment - Change Design"
Design Change
1. Accountant Company Logo , Name Required on top
2. Shift Type Invoice , Receipt as 1st Column, date to Second
2.1 Provide Link on Transaction row to open Print view on new tab
3. Give Total and Pay button in right side window, on top
3.1 Give Accountant Company Details like Name, Address, Phone, Email, GSTNumber below Pay button on Right side above Terms

![image](https://user-imag

[2022-09-20 10:51] mitulpanch commented on #1637
Flow 1-
1. Client Opens App , ECB AI auto suggest Task , There may be a task of File Missing on Project,
2. Client can click on task , and that will lead to File Upload Module
3. Client Uploads Multiple Files to different File Section
4. Design of File module is like Company File, Project wise File with Grouping Possible, but i suggest paging should be there instead of Grouping

[2022-09-20 11:48] vinpahilwani commented on #1637
- company files are one time file
- project files are period wise files i.e. it depends upon period

[2022-09-20 11:55] vinpahilwani commented on #1636
description client ko instruction me dikhayenge so that client ko aasani ho custom field ka meaning kya hai

[2022-09-21 06:27] mitulpanch opened #1646 "Company Page - Custom Field View - Required How many fields remaining count"
Problem-
1. Users cant understand what is remaining
2. They can see design for Remaining Field but Count will be handy

Solution-
1. Process data of Custom Fields Empty can solve this problem
2. This needed to process at each alteration OR we can create Process Button which can take background task for All Companies
3. Companies can be sorted by Custom Field Remaining Count

Technical Detail
1. Ge

[2022-09-21 06:28] mitulpanch commented on #1646
@vinpahilwani agreed for Button to Trigger refresh count, but any Company will update only once in week,
this will be background Task

[2022-09-21 06:34] mitulpanch opened #1647 "Project Custom Field - Filters Required"
Side Panel Filter required
1. Year Period - Default - Current Year - All with Year
2. Service - Default - First one - All with Service
3. Contact
4. Company
5. Status - All

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-21 06:46] mitulpanch commented on #1647
Year default filter Idea is dropped, because of Company wise filter required beyond all year,
All filters are in side panel,

[2022-09-21 06:59] mitulpanch commented on #1627
This value is not for search, Search will be for Name only

[2022-09-21 07:00] mitulpanch opened #1648 "Company Page - Archive Filter - Required"
Problem-
1. User dont want see Archived Companies by default

Solution
1. Provide Filter for Archive / Active on Company Page
2. Default Value for Filter is Active
3.Total 3 Options - Active / Archived / All

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-21 07:08] mitulpanch commented on #1648
Filter Section will show Archived if Filter is Checked, no additional Heading Required anywhere, Filter Section detailing is enough

[2022-09-21 07:11] mitulpanch commented on #1648
When Active is selected Filter Section will not show anything, its default filter,
All / Archived will be visible in Filter Section

[2022-09-21 07:18] mitulpanch commented on #1648
"archived" new Filter API ready

[2022-09-21 08:23] dharmendraecb commented on #1627
![image](https://user-images.githubusercontent.com/46588108/191453884-881a9a63-3fb8-4a88-b3d2-8c2863724186.png)

[2022-09-21 08:24] dharmendraecb commented on #1629
Check Box Not Possible

![image](https://user-images.githubusercontent.com/46588108/191454010-0e299b90-cd31-46ea-924a-73bf3e035724.png)

[2022-09-21 08:28] dharmendraecb commented on #1626
![image](https://user-images.githubusercontent.com/46588108/191455046-a0876fdf-590f-4c93-afa7-92895be15554.png)

[2022-09-21 09:07] vinpahilwani commented on #1646
Yes right

[2022-09-21 09:08] vinpahilwani commented on #1647
yes agreed

[2022-09-21 09:09] vinpahilwani commented on #1648
Yes right

[2022-09-22 03:53] Avinash-ecb commented on #1559
After discussion with @mitulpanch sir on phone it will show in company per project billing with untick and showing number in per project billing number
https://www.berrycast.com/conversations/1e9a2f26-68fe-5ef3-9085-4f2d2da8678c

[2022-09-22 04:03] #1559 closed, assigned to vinpahilwani, sureshsirvi

[2022-09-22 04:34] mitulpanch opened #1649 "Company Page - Multiple Action - Archive / Activate button"
User want to Archive / Activate Multiple Action at a time

Solution
1. 1st Button Archive Button
2. 2nd Activate Button

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-22 05:23] vinpahilwani commented on #1649
Yes

[2022-09-22 05:23] vinpahilwani commented on #1649
Yes

[2022-09-22 06:06] mitulpanch commented on #1516
Please Provide Clear Role, that does not depend on Other Module,
Simple Role Page Mode,
Which can do this

[2022-09-22 06:08] Avinash-ecb commented on #1606
![image](https://user-images.githubusercontent.com/46588125/191670663-aa9cd88e-97ca-4f9a-8d74-00f2885a3f42.png)

[2022-09-22 06:08] #1606 closed, assigned to mitulpanch, dharmendraecb

[2022-09-22 06:11] mitulpanch commented on #1645
Other Changes Added by @vinpahilwani -

1. Transaction is not Compulsory,
2. Unique Id is Required , and Click of Print Preview should be changed to UniqueId, UniqueId design should be in Blue, clickable hand hover
3. Column Order change - 1. Date 2. UniqueId 3. Type

![image](https://user-images.githubusercontent.com/5259926/191671103-bd29e956-5dc1-4292-bc3e-afba70f0012c.png)
4. Payment Amount =>

[2022-09-22 06:16] mitulpanch commented on #1645
7. Note to Company => Message
8. Place holder - "Please Provide Note"

[2022-09-22 06:24] mitulpanch commented on #1649
Api ready

[2022-09-22 06:26] vinpahilwani commented on #1516
Project Page - Project Manager, Owner, Service Manager, Relationship Manager, special role
Contact Page - Relationship Manager, owner, special role
Company Page - Relationship Manager, owner, special role

[2022-09-22 06:44] mitulpanch commented on #1516
These are very complex role that needs detail discussion ,
1. Star is Object wise functionality
2. Project Page, Review Page, Finished Page have different Roles,
3. and Transaction page has Unbilled Project that is completely different thing,
4. so I guess we need to move module to module with fine tuned Roles, and Project Star is different to Review Star that also needs to implement to clear out

[2022-09-22 07:43] mitulpanch opened #1650 "Task Module"
What is Task?
Anything can be called as Task, as long as Flow is
1. User wants to Make Reminders for himself / someone - User1 sets Task for User2 / Self - after Period of time Action is required for Task, as Done / Seen / Complete
2. System wants Attention of User - system creates Task for User - after Period of Time / Immediately Action is Required for Task from User, as Done / Seen / Complete

[2022-09-22 07:52] mitulpanch commented on #1650
This module will open new windows for ECB to engage with User
This is Common Module like, Query Builder, should be available to all Pages, as Common Section, to encourage usage

[2022-09-22 07:55] mitulpanch commented on #1650
Will task replace any module?
cant say much, we can discuss,
first of all this module has very nice binding to other modules, and has potential to ease some pain of system and user both
developing only when replacing something is not good practice

[2022-09-22 07:56] mitulpanch commented on #1650
Further we can increase usage to Client area, if all good for Staff area

[2022-09-22 08:04] Avinash-ecb commented on #1638
![image](https://user-images.githubusercontent.com/46588125/191692040-09b959eb-252a-4e87-bb1b-ec9cd6d7ab82.png)

[2022-09-22 08:04] #1638 closed, assigned to mitulpanch, dharmendraecb

[2022-09-22 08:10] mitulpanch opened #1651 "Whatsapp Module"
Official WhatsApp Module - Integrating with Official Facebook WhatsApp Cloud API

This is in heavy demand, Users are ready to pay for this as well

Our Email , SMS, Notification Module works very great on all sections, without year, adding Other Communication channel to EasyCloudBooks will increase usage , dependency of Staff further more

Challenges
1. Facebook has lengthy Process of Verifying Cl

[2022-09-22 08:11] mitulpanch commented on #1651
This can increase Sales and Revenue for EasyCloudbooks

[2022-09-22 08:13] mitulpanch commented on #1651
Already 3 Companies using process flow to send WhatsApp through webhook

[2022-09-22 08:43] Avinash-ecb opened #1652 "Company Page - change label none->unselect By Vinod sir"
**Describe the bug**
- change label none->Unselect
-
![image](https://user-images.githubusercontent.com/46588125/191700886-dd536137-12cd-49ec-9f9f-9380d2e74a1d.png)

[2022-09-22 09:33] mitulpanch opened #1653 "Payment - Transaction Created - Design Change"
Transaction which gets auto created by Online payment should have additional details

1. Ref No - Add Transaction Number auto generated by Payment should be here
2. Payment Type - razorpay OR paytm
3. Note - Add Note added by Client while Payment (Note to Company)

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-09-22 09:35] mitulpanch commented on #1645
9. Shift Pay Directly - Details to Right Side
and Terms , Payee Details to Left Side

[2022-09-22 10:00] Avinash-ecb commented on #1639
![image](https://user-images.githubusercontent.com/46588125/191718177-5332249e-619f-481a-b38b-659a12c6d987.png)
![image](https://user-images.githubusercontent.com/46588125/191718247-62fcf805-9521-4d62-8193-8481619593e3.png)

[2022-09-22 10:00] #1639 closed, assigned to mitulpanch, dharmendraecb

[2022-09-23 03:40] #1585 closed, assigned to mitulpanch, dharmendraecb

[2022-09-23 03:54] Avinash-ecb opened #1654 "Company custom field page - Currently showing all company list, only show active company list"
**Describe the bug**
- In company custom field page currently showing all active and archived company list
- show only active company list

https://www.berrycast.com/conversations/166a2739-2931-5f6d-937c-d5d5252a09fd

[2022-09-23 04:03] Avinash-ecb opened #1655 "Tax Setting Page - Remove tax type field from create tax setting page and remove create date from list"
**Describe the bug**
- currently we are not using purchase entry so tax field should hide/remove from create page
- We only show output tax while using
- remove/hide create date column from tax setting list
- user can not understand meaning of count column so show some text on hover

https://www.berrycast.com/conversations/24ae299b-060a-55f6-bd07-bf8b99231d22

![image](https://user-images.githubus

[2022-09-23 04:11] Avinash-ecb opened #1656 "Company Page - If we click on industry type or legal structure column then show popup to change there values"
**Describe the bug**
- Currently it is difficult to change industry type and legal structure in company page

**Suggestion**
- When we click on industry type or legal structure then show their related  page  where we can change there values
- If possible then show suggestion in legal structure when type

https://www.berrycast.com/conversations/570d61bb-c4b2-5c63-80f7-76ce383e3702

![image](https:/

[2022-09-23 04:35] Avinash-ecb opened #1657 "Company Page - When we change size of rows to 50,75 or 100 its is only showing 25 rows per page"
**Describe the bug**
- when we change size of rows like 50, 75 or 100 it always pass 25 pagesize in api in company page

![image](https://user-images.githubusercontent.com/46588125/191892742-7fec891d-7d35-40c1-bcac-db2e42f0e5e7.png)

**Recorded by Avinash**
https://www.berrycast.com/conversations/77c24da6-b1a9-51e8-adc8-4438a77d5d15

**Recorded by Vinod sir**
https://www.berrycast.com/conversation

[2022-09-23 04:45] Avinash-ecb commented on #1645
![image](https://user-images.githubusercontent.com/46588125/191893493-f806302b-7164-4fd5-bd43-4d227cbbc927.png)

![image](https://user-images.githubusercontent.com/46588125/191893626-0deecb39-47bd-4a3d-b32d-89faa953e58b.png)
![image](https://user-images.githubusercontent.com/46588125/191893371-790cc41b-46a6-47f5-be89-0fcc795904fe.png)
UniqueId design is not showing in blue

[2022-09-23 06:28] Avinash-ecb commented on #1653
![image](https://user-images.githubusercontent.com/46588125/191903314-71ce6b1b-a0c2-403b-ab6d-e45d9985cd71.png)

[2022-09-23 06:28] #1653 closed, assigned to nobody

[2022-09-23 07:29] Avinash-ecb commented on #1631
![image](https://user-images.githubusercontent.com/46588125/191911235-ced2f295-25a1-4a0c-a423-c9755a2bb412.png)

[2022-09-23 07:29] #1631 closed, assigned to nobody

[2022-09-23 10:42] Avinash-ecb commented on #1626
![image](https://user-images.githubusercontent.com/46588125/191944100-fbba5ff9-36b3-4ea3-b800-14a9ceee1417.png)

[2022-09-23 10:42] #1626 closed, assigned to nobody

[2022-09-23 13:43] mitulpanch opened #1658 "Custom Field - New Structure Required"
Problem -
This is not related to End Users, Majority part is Technical
1. User wants to do many actions with Custom Fields, but current structure limits them in many manner
2. How data is saved?
    Custom Fields are given by Clients, and Type is also decided by Client, So Database for this kind of structure with Custom Filter is very complex. We create Row for each Custom Field Value provided by

[2022-09-23 13:55] mitulpanch commented on #1658
Flow-
1. Staff Creates Company, We will trigger Task for Custom Field reset for particular Company. This will execute immediately.
2. Staff Add new Custom Field
    Staff Change Custom Field Services
    Staff Delete Custom Field
    We will trigger Background Task for All Related Objects (Company / Contact / Project) to reset Custom Field. for  new custom field system will add new blank row for e

[2022-09-23 13:57] mitulpanch commented on #1658
This will give better searchability / query of Custom Fields.
We may further elaborate other custom field issue using this structure. like changing Category ie. Project to Project-Service, Company-Service to Company.

[2022-09-24 04:40] Avinash-ecb opened #1659 "Other Settings Page - It is difficult to go to new line for adding bill number By Suresh Sir"
**Describe the bug**
- When we are try to add new things in print section in new line it is difficult
- when we enter it is not go to new line
- when enter shift + enter it goes to new line but curser not go to start

https://www.berrycast.com/conversations/994993d3-99ad-5254-8a1f-c0d23b8f70fc

[2022-09-24 06:34] Avinash-ecb commented on #1629
https://www.berrycast.com/conversations/c9e631bb-8652-5d27-bd15-ad60af94f82e

[2022-09-24 06:34] #1629 closed, assigned to nobody

[2022-09-24 12:39] mitulpanch opened #1660 "Company Page - Archive Effect - Auto removing Services from 1st stage (Service Scheduler) will remove Custom Field Data"
Effect Coding -
1. Stopping Service Scheduled Project Creation Trigger, No new Project gets triggers for Auto Creation from Scheduler, although Previously pending Project creation will clear que and create All Pending Project.
2. Stopping Auto Bill Creation from Scheduler - No new Bill get triggered for Auto Creation from Scheduler, although Previously pending Transaction creation will clear que a

[2022-09-24 12:45] mitulpanch commented on #1660
Problem -
Archive Button -
When we archive Company
EasyCloudBooks removes all services from Company's Attached services from service scheduler.
This was requirement for Archive Button.

Service Scheduler Services are not just used for Creating Project.
Custom Field attachment also depends on this.

So removing Service scheduler attached service will remove data from Custom Field as well. because C

[2022-09-24 12:45] mitulpanch commented on #1660
Initiated by @mitulpanch
verified by @mitulpanch

[2022-09-24 12:46] mitulpanch commented on #1660
I seek urgent attention from @vinpahilwani , @sureshsirvi

[2022-09-24 12:48] mitulpanch commented on #1660
Also #1566 - **Company Page - Custom Field for Non recurring Service - No Possible way to add**
having same king of problem, We need some better way to attach custom Field
I have raised concerned for Per-Project service Custom Field too

We need some firm logic that support all kind of users

[2022-09-24 12:49] mitulpanch commented on #1660
https://github.com/Fammeo/EasyCloudBooks/issues/1566

[2022-09-26 03:05] vinpahilwani commented on #1660
toh solution hai - humein per project services bhi link karke dikhani padegi toh uska link company se dikhega and we can know konsi service link hai.

[2022-09-26 03:08] vinpahilwani commented on #1660
archive karne se services unlink hoti hai and isliye hum service ki custom field nahi dikha pa rahe. toh solution : kya hum service unlink nahi karein aisa ho sakta hai?
- hum project nahi banana chahte and auto billing nahi karna chahte woh rakhte hue agar archive ho toh service unlink na kare toh custom field hum retain kar sakte hai - agar possible ho - I m not forcing

[2022-09-26 03:09] vinpahilwani commented on #1658
I think this is technical issue i dont have much to say.

[2022-09-26 04:31] Avinash-ecb opened #1661 "Company page - When we change list view to default status filter show all option default"
**Describe the bug**
- when we go other view from company view using list view and come back to default view status view show all option

**Suggestion**
- when we come back to default company list view then status should select active by default

https://www.berrycast.com/conversations/509a0d83-5660-5b64-92a3-1e6eca352f56
https://www.berrycast.com/conversations/59da4c83-b45f-5997-aa1a-9751af03dfe2

[2022-09-26 05:20] Avinash-ecb opened #1662 "Company Page - Showing archive & active option in action but user has not company edit permission"
**Describe the bug**
- User can see company archive and company active option in action view without any permission

**Suggestion**
- IF user has not company edit permission then hide active and archive option from action view

https://www.berrycast.com/conversations/247b67a4-b507-5117-832e-b24cd3eb1df3

This is working correctly
![image](https://user-images.githubusercontent.com/46588125/19219912

[2022-09-27 04:09] Avinash-ecb opened #1663 "Company Fees Contract Page - Show company name in autobilling view"
**Describe the bug**
- When we open company contract show company name in that contract view so we can know which company contract view

https://www.berrycast.com/conversations/5af29a57-f439-5665-b198-7be59c51900b

![image](https://user-images.githubusercontent.com/46588125/192429559-4ef6b085-2a60-47db-9bd6-c7e1eb4021f7.png)

[2022-09-27 04:10] Avinash-ecb commented on #1663
![image](https://user-images.githubusercontent.com/46588125/192429868-d6389b11-d6b7-4d0a-a911-45c91c98d8d9.png)
![image](https://user-images.githubusercontent.com/46588125/192429892-7f71601b-9c27-4a07-afdf-ef827a2fad14.png)
In this two view should also have company name
This is my opinion

[2022-09-27 04:24] Avinash-ecb commented on #1648
https://www.berrycast.com/conversations/94918fa6-1d67-5c0c-a4b2-e4d0c209c9b3

[2022-09-27 04:24] #1648 closed, assigned to nobody

[2022-09-27 05:54] #1579 closed, assigned to dharmendraecb

[2022-09-28 04:56] Avinash-ecb opened #1664 "Company Page - Hide add, remove and change service option in action in archive filter view"
**Describe the bug**
- when we apply archive filter then if we try to add, remove or change service it is not working so it should be hidden

![image](https://user-images.githubusercontent.com/46588125/192689894-a85e7a8b-4d1a-47c3-8665-1db3bde851c0.png)

[2022-09-28 05:59] Avinash-ecb opened #1665 "Some Pages - In list there is some link issue, links are not working"
**Describe the bug**
![image](https://user-images.githubusercontent.com/46588125/192692834-dfd09b6b-e0e9-4b22-8473-b321d0d28be1.png)
![image](https://user-images.githubusercontent.com/46588125/192693579-ef2d3c9e-6e0d-4113-b5a4-c0da9a9e719c.png)
![image](https://user-images.githubusercontent.com/46588125/192698670-6713a187-8556-44aa-85c9-b518399f3bf8.png)
![image](https://user-images.githubusercont

[2022-09-28 09:55] mitulpanch commented on #1658
New Rules - suggested by @vinpahilwani

Conversation  Required-
Company To Company-Service
Project to Project-Service

In All Other cases data should not be retained
suggested over phone and Google Sheet
We should not copy data in any other mode - due to multiple object involvement

Company / Company-Service to Project / Project-Service  - dont copy data - company has multiple projects ,so dont co

[2022-09-28 09:56] mitulpanch commented on #1658
![image](https://user-images.githubusercontent.com/5259926/192749803-9cc8e6d3-d2c0-4d54-b9ea-eb122e71b60d.png)
this was the sheet explained to me over phone

[2022-09-28 10:00] mitulpanch commented on #1658
Company To Company-Service
Project to Project-Service

Some flow problem in this conversation
When user change Company custom Field to Company-Service
then system starts conversation and custom field dont have services,
so eventually all data get lost

User tends to take time in attaching Services also, so i suggest we should implement Data prevention on removed Custom field
that can solve all pro

[2022-09-28 10:34] mitulpanch commented on #1658
Currently Engine Flow-
We check Object (Project / Company / Contact ) for Custom Field from Master Data
Then system adds new Custom fields possible
Then remove previous custom field only when any other custom field has same name, we keep all custom field unique respect to name
other wise hold data, because no other custom field requires same name, so user can attach service to custom field
in a wa

[2022-09-28 10:35] mitulpanch commented on #1658
I dont see any other flow to correctly convert above requirements, for data migration

[2022-09-28 10:47] mitulpanch commented on #1658
Now - Other Point-
What happens to data when we delete Custom Field
There is 2 group one says,
1. Previously field was applicable, and we have finished projects using that data, so now onward field is not required, but previous data is required, this is applicable for both Company / Project
2. Delete Custom Field means delete all previous data with Field

I suggest we should hold data when ever po

[2022-09-29 03:52] Avinash-ecb opened #1666 "Transaction page - When searching company in create invoice error message shown"
**Describe the bug**
- when we try to create invoice and type some text in search company textbox it showing some error message
- This is not occurring every time when search, It shows only some time
- I think slow net issue

![image](https://user-images.githubusercontent.com/46588125/192934207-ea992dbf-733d-4aa4-a4ad-8b9c3bc49c37.png)
![image](https://user-images.githubusercontent.com/46588125/19

[2022-09-29 05:56] #1615 closed, assigned to nobody

[2022-09-29 08:19] Avinash-ecb commented on #1627
![image](https://user-images.githubusercontent.com/46588125/192978422-a63c42f3-41ea-49cd-9e87-bec6358ab40c.png)
![image](https://user-images.githubusercontent.com/46588125/192978581-c73af51f-f7d0-4388-a7d5-e7d1d8a2a714.png)

[2022-09-29 08:19] #1627 closed, assigned to nobody

[2022-09-30 10:47] mitulpanch commented on #1633
Showing All Unfinished Projects,
So any body with Project Custom Field Read / Edit Role can process custom field page

No Project Member . Manager etc role required

[2022-10-01 03:49] Avinash-ecb opened #1667 "Data Upload Template Page - When adding node with multiple characters then it shows database error"
**Describe the bug**
- when we add a json file having multiple characters and try to save it shows database error

https://www.berrycast.com/conversations/559825df-8342-5e54-aed4-ae4ff65e32eb

[2022-10-01 06:58] Avinash-ecb commented on #1632
![image](https://user-images.githubusercontent.com/46588125/193397123-c4e49d92-516e-47af-809d-ef7093f16be9.png)
- in some service we can not see (Auto Billing)

[2022-10-01 07:35] Avinash-ecb commented on #1632
After discuss with @dharmendraecb It is ok

[2022-10-01 07:35] #1632 closed, assigned to nobody

[2022-10-01 07:55] Avinash-ecb opened #1668 "Document Page - Send SMS Icon should be change & change hover text on email and SMS"
**Describe the bug**
- change hover text on email -> Send Email
- change hover text on SMS -> Send SMS
- change SMS icon
-
![image](https://user-images.githubusercontent.com/46588125/193399271-bfb8ef47-9fb1-4a3c-b98a-6408f4e13def.png)
![image](https://user-images.githubusercontent.com/46588125/193399304-63401413-1ab4-46a7-9104-f011f62f10bf.png)

[2022-10-01 09:06] Avinash-ecb opened #1669 "Document Page - When drop folder in file upload it uploads only files"
**Describe the bug**
- when try to drop folder in file uploads it uploads files inside folder not upload that folder
https://www.berrycast.com/conversations/7a21cfa3-3056-52e3-b099-e70b89ab30da

[2022-10-03 06:30] Avinash-ecb opened #1670 "Document Page - When we upload file and click accidently outside it stops uploading"
**Describe the bug**
- When we upload a file and accidently we click outside it stops uploading that file
https://www.berrycast.com/conversations/2563c58a-af51-50e0-9240-687d7f9cae46

[2022-10-03 06:55] Avinash-ecb opened #1671 "Company Custom Field - Show custom field in group wise in setting page"
**Describe the bug**
- show all custom field in group wise in setting page like showing in company custom field detail page

https://www.berrycast.com/conversations/bdd69dc8-4868-5f15-a55b-14aa8f91d411

[2022-10-03 07:01] Avinash-ecb opened #1672 "Company Custom field page - How to identify which company record is incomplete for custom field"
**Describe the bug**
How to identify which company record is incomplete for custom field

**Suggestion**
- there should be a column showing remaining custom field count by descending order

https://www.berrycast.com/conversations/5daf1219-ffec-543c-aeb2-135a3396bfe7

[2022-10-03 07:44] Avinash-ecb opened #1673 "Document Page - File Sharing Email Improvement Required"
**Describe the bug**
- No need of get in touch link
- improvement required of email design
![image](https://user-images.githubusercontent.com/46588125/193524175-3618c02f-72b1-4048-be17-0eaa2c3a692a.png)
![image](https://user-images.githubusercontent.com/46588125/193524497-7a0097e6-076d-43de-ac31-1ad566ff73f7.png)
- change accountant company name location
- can we remove google cloud plateform
- ch

[2022-10-04 04:04] Avinash-ecb opened #1674 "Company/Contact Custom Field Page - Show full custom field name on hover in custom field list in setting page"
**Describe the bug**
- When we open company/contact custom field page setting view there we can not see full custom field name
- Show full custom field name when we hover that custom field

![image](https://user-images.githubusercontent.com/46588125/193731547-afeb4f40-8284-43b6-8b6e-6626b66191d6.png)

https://www.berrycast.com/conversations/40004522-fc6e-5d25-94ff-da42adddd822

[2022-10-04 07:50] Avinash-ecb opened #1675 "Transaction Page - When printing any transaction required bill no"
**Describe the bug**
- When printing invoice there is not any bill no clients want this bill no

**Suggestion**
- If we consider unique id as bill no then print unique id in invoice print
- they also want to change pattern of unique id, currently it is in bug mentioned below

**Github issue**
[ #1407](https://github.com/Fammeo/EasyCloudBooks/issues/1407)

![image](https://user-images.githubusercon

[2022-10-05 05:07] Avinash-ecb opened #1676 "Company Page - When setup(import) first time company and contact for new company It is slow By Suresh Sir"
**Describe the bug**
- when sales team gives demo to new client then he imports company and contacts to his company then it takes little long time like half an hour

**Suggestion**
- This process should be fast when first time sales team import company and contacts
- Priority should be high

[2022-10-05 05:18] Avinash-ecb opened #1677 "Company/Contact custom field page - Label should be change Delete Custom Fields -> Deleted Custom Fields"
**Describe the bug**
- Label should be change

**Delete** Custom Fields -> **Deleted** Custom Fields

![image](https://user-images.githubusercontent.com/46588125/193986598-50c3d8b8-6520-4e4c-bab5-ef98365fab5f.png)
![image](https://user-images.githubusercontent.com/46588125/193986633-e36583d5-8e1d-4f69-853a-e20caccf718c.png)

[2022-10-05 05:45] mitulpanch opened #1678 "Company Page - Custom Field - Remove "Deleted Custom Field" Module"
Problem -
User do not want to see this module

Details
1. This module is showing Values for Deleted Custom Field
2. There is not action or revert available, not possible to develop
3. This was requested by Client, who accidently deleted custom field, and want to get values again, Reverting was not possible so he insisted to at least show previous values, so he can recreate field and fill data from

[2022-10-05 05:47] mitulpanch commented on #1678
My views on this module

1. It is good functionality
2. In past we have received Call from Clients for mistake by staff, Mistakenly removed Custom Field which had data filled, No of time.
3. This gives second change to user who want data back
4. There is not way any action available to this, as Custom Field, Create Delete is very complex logic of Creating and Removing. So we can not provide any ac

[2022-10-05 05:49] mitulpanch commented on #1678
We have not changed any logic regarding this Module

[2022-10-05 06:28] mitulpanch commented on #1678
this is not new module, it was created 4-6 months back, since then nothing changed

[2022-10-05 09:59] Avinash-ecb opened #1679 "Company/Contact Custom Field - Full column name is not displayed"
**Describe the bug**
- Show full column name on hover

![image](https://user-images.githubusercontent.com/46588125/194034271-da054caf-6ab4-4cb4-bdd9-cc493fc81281.png)

[2022-10-06 08:01] Avinash-ecb opened #1680 "Company recurring fees page - Showing wrong count in recurring column"
**Describe the bug**
- when we remove service scheduler and that service is attach to some company then old count shows but when opening service then there is not that service
https://www.berrycast.com/conversations/1021b1f8-57d7-5c22-acf1-b2e9acf8bcbb

[2022-10-06 08:03] Avinash-ecb commented on #1680
After talking with @mitulpanch sir this is ok
- when some user remove scheduler from service he usually add another scheduler so if we remove that service from recurring then he does not know that service is detached from company and project not create automatically
- when we open that recurring service and update it shows updated count

[2022-10-06 08:04] #1680 closed, assigned to mitulpanch, dharmendraecb

[2022-10-07 03:06] mitulpanch opened #1681 "Custom Field - New Logic for removing Custom Field Value"
Problem -
1. User provides Custom Field Values to Company over period of time
2. Custom field Attachment depends on a. Company Apply to Custom field b. Company-Service Custom Field Apply to
3. Company Custom Field stays with All companies
4. Company-Service Custom field comes to Companies where Service is attached, (Company Page - 1st step , Recurring Service)
5. Over period of time, user decides

[2022-10-07 03:09] mitulpanch commented on #1681
I have attempted this before, also changed all Database for this.
then @vinpahilwani said Its difficult to teach this logic to Clients , providing Support for this is difficult
so eventually i have removed / revoked all coding / changes created for this

So if this is required please write down, why this is required now
I am ready to re do everything again

Previous comments on this issue

https:/

[2022-10-07 03:12] mitulpanch commented on #1658
All above things about Custom Field Remove logic is revoked, as @vinpahilwani suggested simpler logic for Custom Field,

Not attached / Deleted Custom Field are going to be removed after 30 days

released on 06-10-2022 on live, after all changes

[2022-10-07 03:13] mitulpanch commented on #1658
#1681
this will change this if agreed
Remove custom Field value logic change

[2022-10-07 03:20] mitulpanch commented on #1681
If this is passed
new Logic would be like
1. Delete Custom Field Value only when Custom Field Master Setting gets Deleted
2. Dont delete any other values from company as long as Custom Field is not deleted.
3. Service removing from Custom field , OR service detach from Company (1st step) will not delete Custom Field value from company
4. Delete Value only and only when Custom Field Removed from Ma

[2022-10-07 03:29] mitulpanch opened #1682 "Custom Field - Master Settings - change sort order to Group"
Problem-
User wants to see Custom Field Master Settings with Grouping, so same custom Fields could be edited quickly

Solution
Grouping is not possible along with paging,
so just sorting with group names is passed

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-10-07 03:30] mitulpanch commented on #1682
This is for All pages,

Company Custom Field , Settings
Contact Custom Field , Settings
Project Custom Field , Settings

Sort Order => groupname

Previous Sort order was SO from custom Field

[2022-10-07 03:34] mitulpanch commented on #1682
This is not same as Sorting inside

company => fill values of Custom Field sort
Sort inside value is like-
Get All Custom Field with SO
then Group them with SO as first priority
1st group will be having top Custom Field SO, then that group will show all custom field with same group regardless of SO of Custom Field

This kind of logic is not possible in Master Setting as that have Paging structure

[2022-10-07 03:36] mitulpanch commented on #1682
I consider this as granted permission over phone, so forwarding this to development

[2022-10-07 03:41] mitulpanch opened #1683 "Document Page - New design for Company Selection"
Show Company Full Name instead of just Icon

Common for Common Folder

Initiated by @vinpahilwani
verified by @mitulpanch

[2022-10-07 03:42] mitulpanch commented on #1683
![image](https://user-images.githubusercontent.com/5259926/194463257-c42c13d6-1fa0-4fc0-88de-b7dda2b7dfdf.png)

[2022-10-07 03:45] mitulpanch commented on #1618
approved over phone

[2022-10-07 03:46] mitulpanch commented on #1618
This not related to Project Custom Field Page
That page have special role

[2022-10-07 03:47] mitulpanch commented on #1633
Project Page roles do not apply here,
This page have 2 role,
Project Custom Field => read
Project custom Field => Edit

[2022-10-07 03:47] mitulpanch commented on #1633
Project Page roles do not apply here,
This page have 2 role,
Project Custom Field => read
Project custom Field => Edit

[2022-10-07 04:34] mitulpanch commented on #1658
No of thing changed with this Module

1. We have new Structure
2. Now we create company Row for possible Custom Field , processed whenever required on events based engine run
3. Custom field Created on Master setting takes times to reflect on Company / Contact / Project / Object Page, (Point 2)
4. Same way ant changes on custom Field Master Setting takes time to reflect on Respective Object Page
5

[2022-10-07 04:37] mitulpanch commented on #1681
as discussed over Phone @vinpahilwani =>
sir wants to keep custom field for Service Unlinked, but dont want to show them
-----
ex. 1. PAN cand attached to Accounting Service at first. Then taken data from Client, Filled Custom Field on company Page- PANCard with value "ABC"
2. Then after some time , user though that pan card is attached to Service "ITR" not accounting.
3. so user removed service f

[2022-10-07 05:19] mitulpanch commented on #1677
done

[2022-10-07 05:19] #1677 closed, assigned to mitulpanch, dharmendraecb

[2022-10-07 05:20] mitulpanch commented on #1677
Deleted Custom Field (showing Past values for 30 Days)

changed to above title

[2022-10-07 05:21] mitulpanch commented on #1676
This is fastest that we can support,

I dont think, without upgrading hardware this is possible.

[2022-10-07 05:22] mitulpanch commented on #1675
I guess this can be done from Print section on Settings Page, with keywords

[2022-10-07 05:25] mitulpanch commented on #1673
Email Template is common for all types of email,

Removing this with remove header footer from all Client Email to their clients,

We have created this template common for all client, and replacing field from company settings,

If all field are filled then this looks good.

Unsubscribe can not be removed, its required by third party providers.

[2022-10-07 05:26] mitulpanch commented on #1673
If further changes required then Please upload photo with changes, so will forward to developer

[2022-10-07 05:28] mitulpanch opened #1684 "Document Preview - change Layout"
![193524497-7a0097e6-076d-43de-ac31-1ad566ff73f7](https://user-images.githubusercontent.com/5259926/194474181-af944dc8-771c-4157-8164-df4dba6074e0.png)

[2022-10-07 05:29] mitulpanch commented on #1684
1. Move Company name to Top
2. remove Google Cloud Platform
3. Copyright easycloudbooks
4. If possible remove Column name from bottom
5. remove if you have any query option

[2022-10-07 05:30] mitulpanch commented on #1673
#1684 created another issue for Preview Section

[2022-10-07 07:01] Avinash-ecb opened #1685 "Project Page - When we use filter by staff it is not working"
**Describe the bug**
- When we filter using filter by staff it is not working

![image](https://user-images.githubusercontent.com/46588125/194487405-8e96ebca-80eb-4253-8db6-dff5a083b959.png)

[2022-10-07 07:05] Avinash-ecb opened #1686 "Company Page - Search by staff filter required in company page By Aziz"
**Describe the bug**
- clients want to filter company by staff like project page

![image](https://user-images.githubusercontent.com/46588125/194487889-731d14b3-d42c-42f5-a8f7-a20914f97c67.png)

[2022-10-07 07:14] vinpahilwani commented on #1681
Summary -
Agar custom field delete ho to hi data delete karna hai
Service unlink ho  toh bhara hua data delete nahi karna hai

[2022-10-07 08:17] Avinash-ecb opened #1687 "Transaction Page - Issue while filter unbilled project in transaction page"
**Describe the bug**
- when we filter unbilled project, if status is all then it applies blank status and not show any data

![image](https://user-images.githubusercontent.com/46588125/194506376-da479c2e-4277-46eb-930d-820a8a71dba7.png)
![image](https://user-images.githubusercontent.com/46588125/194506460-a3bf7cb6-b6f0-4a11-ba7a-8f96f4ba15ab.png)

https://www.berrycast.com/conversations/385b2da4-e

[2022-10-07 08:25] mitulpanch opened #1688 "Transaction Page - Ledger Preview comes with invalid Date"
https://eccpl.easycloudbooks.com/transactionprint?crids=E6zdqStmU0yN90CepTcmdQ&startdate=2022-08-25T00:00:00&enddate=2022-10-02T23:59:59&mode=0

Startdate for above link should be in utc.
above link comes with 0 hours, gives un expected Transactions in list

Initiated by - @vinpahilwani - Deepa Pahilwani
verified by @mitulpanch

[2022-10-07 08:55] mitulpanch commented on #1681
Delete nai he woh sare Custom Field , above section me dikhenge,

Show all custom Field, which are valid
I have confirmed this over phone

[2022-10-07 08:59] mitulpanch commented on #1681
Approved by @vinpahilwani

[2022-10-07 09:00] mitulpanch commented on #1681
@vinpahilwani agreed for all of this, i have confirmed over phone, do not need to hide custom field which are not applicable,
if data is present then keep Custom field.

Delete only and only when Master Custom Field gets deleted

[2022-10-07 09:02] mitulpanch commented on #1681
If custom Field is not attached , and dont have value then we will remove custom field. as it not applicable and not filled

[2022-10-07 09:05] mitulpanch commented on #1681
This is applied to All Pages, Company , contact , Project Custom Field, common functionality

[2022-10-07 09:39] Avinash-ecb opened #1689 "Contact page - Status filter is not working in contact position page"
**Describe the bug**
- When we filter company list in position page with status filter it does not applies that filter and not working

![image](https://user-images.githubusercontent.com/46588125/194523862-851f63ab-ec0e-413e-949b-11faa54d4ed9.png)
https://www.berrycast.com/conversations/389a3a1c-7932-5650-9430-d6a020106992

[2022-10-07 09:41] mitulpanch commented on #1686
Not sure whats this?
I guess by Company relation manager

[2022-10-07 09:54] Avinash-ecb opened #1690 "Project Page - Make due date column value (-) center align"
**Describe the bug**
-When there is not any value in due date column there is showing - (dash) make that dash center align

![image](https://user-images.githubusercontent.com/46588125/194526913-856e5bcc-5a5c-49c5-9968-7743044d6692.png)
https://www.berrycast.com/conversations/744e0d1c-e99e-5d94-b7df-212f1e7d8158

[2022-10-07 10:02] mitulpanch commented on #1675
Sorry, This functionality is now removed, to get Multiple Print of Transaction, and Standardization

Now we do not take separate Header for Invoice, receipt etc.
we take Common Header,  so adding for Invoice is not possible.

This can be developed if required.

[2022-10-07 10:02] mitulpanch commented on #1675
over to @vinpahilwani

[2022-10-07 10:19] mitulpanch commented on #1671
Duplicate

[2022-10-07 10:19] mitulpanch commented on #1671
https://github.com/Fammeo/EasyCloudBooks/issues/1682

[2022-10-07 10:19] #1671 closed, assigned to mitulpanch, dharmendraecb

[2022-10-07 10:21] mitulpanch commented on #1666
This is temporary issue. if persist then reopen

[2022-10-07 10:21] #1666 closed, assigned to mitulpanch, dharmendraecb

[2022-10-07 10:30] mitulpanch commented on #1665
Remove List from design

[2022-10-07 10:31] mitulpanch commented on #1579
Not applicable now, as this column is removed

[2022-10-07 10:36] mitulpanch commented on #1661
This have some technical difficulties, so not possible to achieve

so considering , to drop Change view Option

[2022-10-07 10:36] #1661 closed, assigned to mitulpanch, dharmendraecb

[2022-10-07 10:37] mitulpanch commented on #1642
it was migration, so was not created at that time.

Its working fine

[2022-10-07 10:37] #1642 closed, assigned to mitulpanch, dharmendraecb

[2022-10-07 10:47] mitulpanch commented on #1622
I think this is like,
Not able to remove Custom field value, it is not related to any other issue i guess

[2022-10-07 11:13] mitulpanch opened #1691 "Project Custom Field - Remove default Service Filter"
Problem-
when User work on this page,
it is very difficult to find project for Pending Custom Field by going to all service

Solution
Remove Default Service Filter
Remove Default Current Year Filter

Add Default filter for Pending Status

verified by @mitulpanch
approved by @vinpahilwani

[2022-10-07 11:24] mitulpanch opened #1692 "Custom Field - Give Reminder date with Note option on different Objects"
Problem-
When user works on any object like Company, Contact , Project Custom Field Page
they usually call Client and try to take data from Clients.
Some times clients says please call after 5 days etc
So User get confuse that what need attention and what's already done

Solution-
1. Provide Option to give reminder Date with Note on each Page
2. Adding Column for Reminder on main list. to sort acc

[2022-10-07 11:26] mitulpanch commented on #1692
We keep only one value for Note, so no previous note will be present on system
We just update same field with new note and new reminder date
and delete after All custom field completes

[2022-10-08 03:42] mitulpanch opened #1693 "Custom File Module - New Functionality"
Problem -
1. Taking Files from Clients is pain
2. User dont have any functionality that covers this on ECB
3. New Module like Custom Filed can solve this problem

Brief -
1. Custom Files module requires list of Files like Custom Fields
2. Apply to will be same as Custom Field - Company, Company-Service, Contact, Project, Project-Service, Currently these are enough, later we can add more
3. Project

[2022-10-08 03:42] mitulpanch commented on #1693
Sections =>
Custom File -
1. Name, Description (optional), Apply To, Sort Order , Group
2. Role - Create / Edit => Custom File => Create
3. Role - Delete => Custom File => Delete
4. Paging - 25, Sorting => Group Name
5. Apply To can be changed => data persists only on => Project to Project-Service OR Company to Company-Service or vice-versa
6. Type not required

[2022-10-08 04:23] mitulpanch commented on #1693
Section =>
Object Custom File  List View (Contact / Company / Project)
1. list of Objects same as Custom Field list , Company list, Contact List , Project List with Pending default filter
2. Custom File list with approved status (check green icon)
3. click will open side window like custom field,
4. Default sort => reminder date asc, need to work should be first
5. Default filter => empty file cou

[2022-10-08 04:35] Avinash-ecb opened #1694 "Company/Contact/Project custom field - We have to click 2 times to on/off custom field value"
**Describe the bug**
- when we try to make customfield value on/off then we have to click 2 times

![image](https://user-images.githubusercontent.com/46588125/194688377-fe212a59-02a8-42d6-a114-40545817fd24.png)
![image](https://user-images.githubusercontent.com/46588125/194688386-e8d0328f-bf4b-4604-8554-3642f9de5271.png)

https://www.berrycast.com/conversations/d97e3cd8-1334-506d-9af5-ab0a16aa2fec

[2022-10-08 05:33] Avinash-ecb commented on #1672
![image](https://user-images.githubusercontent.com/46588125/194690392-bfa43343-fc19-4c0a-9c09-d55c3e897c86.png)

[2022-10-08 05:33] #1672 closed, assigned to mitulpanch, dharmendraecb

[2022-10-08 06:37] mitulpanch commented on #1693
Section =>
Object Custom File Detail side popover (Company / Contact / Project)
1. 2 possibilities =>a. List of Files with
          columns => Name, Approved?, Mode(Cloud file, Physical, Not Applicable), Last Update, Update By
                b. Folder like view => Name and Approval icon
2. Usability wise List of file view would be good to understand for user
3. Approval required on each custom f

[2022-10-08 06:41] mitulpanch commented on #1693
I guess i have completed all aspects of this module, but please give your views @vinpahilwani, @sureshsirvi  on Module will give more direction

[2022-10-08 06:41] mitulpanch commented on #1693
Future planning =>
Client can upload Input type of Files from Client Portal

[2022-10-08 06:45] mitulpanch commented on #1693
Custom Files have 3 types => Common for All Objects (Company / Contact / Project)
1. Input File => Required to start project OR Client can upload this files
2. Process File => General meaning - Client dont want / can not see this files, but incase of Project- Project Manager need to add this file at time project on going (any kind of Processed data)
3. Output File => Required after Project Complet

[2022-10-08 06:47] mitulpanch commented on #1693
I guess i have completed all aspects of this module, but please give your views @vinpahilwani, @sureshsirvi on Module will give us more direction

[2022-10-08 06:48] mitulpanch commented on #1693
This module donot change any existing functionality on any module, everything is new

[2022-10-08 08:55] Avinash-ecb opened #1695 "Company Fees Contract Page - when we click on clear all button in service view it does not clear all filter"
**Describe the bug**
- When we filter using service name and try to clear all filter with clear all button it does not clear service filter
- It is not working where service view is displays in drawer

![image](https://user-images.githubusercontent.com/46588125/194698979-6b9005e8-ffaf-4977-a11d-252c904993de.png)

https://www.berrycast.com/conversations/90326f53-609b-5ebe-9ee7-457eacb67e32

[2022-10-08 10:49] Avinash-ecb commented on #1685
After discussion with @mitulpanch sir & tested by me It is working
https://www.berrycast.com/conversations/9cdcf85c-9563-548b-a228-a79670022f86

[2022-10-08 10:49] #1685 closed, assigned to mitulpanch, dharmendraecb

[2022-10-08 10:51] Avinash-ecb commented on #1685
https://www.berrycast.com/conversations/9cdcf85c-9563-548b-a228-a79670022f86

[2022-10-08 11:21] mitulpanch opened #1696 "Contact Page - Custom Email with Multiple Action"
Problem -
User wants to send custom random email from contact page with multiple action

Solution-
1. Select Multiple Contacts
2. Select Custom Email from Action menu
3. Type Subject, Email Content
4. Send

Technical -
1. This is common email to all contacts, Key replacement is not part of this
2. This email can not be personalized (like Hi Vinod Pahilwani,)
3. Common Email to all.

Initiated by @

[2022-10-10 03:23] mitulpanch commented on #1660
We can stop unlinking Service from Recurring service (1st stage) if all agree
@vinpahilwani @sureshsirvi

[2022-10-10 03:24] Avinash-ecb opened #1697 "Company Fees contract Page - Show total annual fees in blue color"
**Describe the bug**
- Show total annual fees in blue color so user can know it is clickable

![image](https://user-images.githubusercontent.com/46588125/194795181-2d289250-d8ca-4747-ba11-678b66858d0d.png)

https://www.berrycast.com/conversations/1c43393c-4399-51a4-94f2-7a87dbadb7d2

[2022-10-10 03:26] mitulpanch commented on #1660
New not removing Custom Field value, will keep data in removal of Service too.
So no new changes required i guess

If we keep data for filled custom Field regardless of Service attached / detached
no new development required in this issue

forwarding to @vinpahilwani , @sureshsirvi  to get their final comment for confirmation, so i can close issue

[2022-10-10 03:26] mitulpanch commented on #1660
#1681 Custom Field - New Logic for removing Custom Field Value
this development overpass this issue's errors

[2022-10-10 03:28] mitulpanch commented on #1660
still no solution for #1566 , i consider its not required

[2022-10-10 03:28] Avinash-ecb opened #1698 "Service Page - Change label in filter Is Scheduler-> is Recurring?"
**Describe the bug**
- Change label in service filter Is Scheduler-> is Recurring?

![image](https://user-images.githubusercontent.com/46588125/194795425-8b111d26-3162-4a7c-90dd-2ce81ca0b6c5.png)

[2022-10-10 03:39] mitulpanch commented on #1697
This does not look good, in terms of theme

This does same thing as  +Service button just above it

still do you want to add color to it! please approve

[2022-10-10 03:39] Avinash-ecb opened #1699 "Project Page - Filter view popup is not opening when click on it By Sirvi Associates Staff"
**Describe the bug**
- When we click on filter button on project/deviation/review/finished page it does not open filter view

![image](https://user-images.githubusercontent.com/46588125/194796062-74dbc195-e875-43ba-b0dc-f056dc0ac59c.png)
![image](https://user-images.githubusercontent.com/46588125/194796094-72e11cbf-9397-43af-8542-9e10558f0ff4.png)
![image](https://user-images.githubusercontent.com

[2022-10-10 03:44] mitulpanch commented on #1694
This is not a issue
First we only load value, on click we brink status changes action plugin ON/OFF
on click of plugin value changes

this behavior can not be changed

[2022-10-10 03:44] #1694 closed, assigned to mitulpanch, dharmendraecb

[2022-10-10 04:37] dharmendraecb commented on #1647
- Remove All Default Filter
- Default Filter Filter Pending

[2022-10-10 04:43] Avinash-ecb commented on #1699
https://www.berrycast.com/conversations/a371208b-f08f-5ad8-88bf-4363407d0871

[2022-10-10 04:43] #1699 closed, assigned to mitulpanch, dharmendraecb

[2022-10-10 05:40] dharmendraecb commented on #1628
![image](https://user-images.githubusercontent.com/46588108/194804394-50ec2487-c193-4aac-af35-151696fc42bd.png)

[2022-10-10 05:53] dharmendraecb commented on #1633
![image](https://user-images.githubusercontent.com/46588108/194805467-1891734b-7c0c-45cd-8dcd-587874202c26.png)

[2022-10-10 06:03] dharmendraecb commented on #1625
![image](https://user-images.githubusercontent.com/46588108/194806348-bf17e138-23dc-4ffb-a01a-88e59e8eedde.png)

[2022-10-10 06:03] dharmendraecb commented on #1625
![image](https://user-images.githubusercontent.com/46588108/194806382-95f880d1-037c-4eb1-aa84-85ea9599ed15.png)

[2022-10-10 06:06] dharmendraecb commented on #1652
![image](https://user-images.githubusercontent.com/46588108/194806723-8db0cc41-ff6e-4a2a-8d0e-1562466148ac.png)

[2022-10-10 06:20] dharmendraecb commented on #1655
Tax setting Count (Company and Process Flow inner Use Tax setting)

[2022-10-10 06:24] mitulpanch commented on #1655
Count is of => Company's Tax Setting for Auto billing OR Per-Project Billing + ProcessFlow tax selected

[2022-10-10 07:10] dharmendraecb commented on #1663
@Avinash-ecb your Opinion To good but first approval

[2022-10-10 07:12] dharmendraecb commented on #1663
- Add Company Name In Header UI problem

![image](https://user-images.githubusercontent.com/46588108/194814374-72c694d8-fff1-4da6-84e8-91ffe7f1fd00.png)

[2022-10-10 07:22] dharmendraecb commented on #1679
![image](https://user-images.githubusercontent.com/46588108/194815798-4a22ed30-911e-4338-b06f-7f5a4c7f47f5.png)

[2022-10-10 07:22] dharmendraecb commented on #1679
Text in Hover

[2022-10-10 07:30] Avinash-ecb opened #1700 "Project Page- When change pagination selected project get unselected By Sirvi Associates Staff"
**Describe the bug**
- When we select multiple project and change pagination previous selected project is unselect

![image](https://user-images.githubusercontent.com/46588125/194816723-0041f39a-c8b4-4e4e-a3d7-65410dff2b3f.png)
![image](https://user-images.githubusercontent.com/46588125/194816841-a7c8701c-12ca-42ba-82ff-fd8bcd44710e.png)

[2022-10-10 07:38] mitulpanch opened #1701 "Company Page - Custom Field View - Sort Order of Custom Field Column should be Group Name"
Problem -
User wants to see Column in group Name sort order

Technical Detail-
This is not Grouping,
We can just sort with Group name, All custom Field in group are not coming
Custom Field Column comes in dynamic way, if company has custom field then only system gets custom field column
This is no way similar to Inside view of Custom Field Data fill popover, that has different sort order

Initiate

[2022-10-10 07:38] Avinash-ecb opened #1702 "Project Page - When we close project detail view it goes to first page By Sirvi Associates Staff"
**Describe the bug**
- When we are on second or third page and we are working on that project after closing project view it goes to first page
- so staff get problem to go again on that pagination and work on that projects

![image](https://user-images.githubusercontent.com/46588125/194818032-47ca7bcd-f529-4d37-a48c-594b97fd9814.png)

https://www.berrycast.com/conversations/b497265e-b672-5f50-8386

[2022-10-10 07:40] mitulpanch commented on #1701
This is applied to All Custom Field Pages, Project, Company, Contact Custom Field

once again Sort order for this is not same as Inside Data fill popover, i have explained this to @vinpahilwani ,and he agreed with terms

[2022-10-10 07:56] dharmendraecb commented on #1683
![image](https://user-images.githubusercontent.com/46588108/194820864-6a0a38d3-112b-43b6-9003-512903a0db80.png)

[2022-10-10 08:08] dharmendraecb commented on #1674
![image](https://user-images.githubusercontent.com/46588108/194822706-c2d7ce4c-b8d7-4f1a-9228-623aeaf7979e.png)

[2022-10-10 09:13] mitulpanch opened #1703 "Project Multiple Import - Show All services - Assign Project Manager according to Custom logic"
Problem -
Currently user can only see Services who have project manager,
User wants to create Projects from here for All Services

Project Manager Logic-
1. Copy Last Project if Possible
2. Then Service Managers
3. else Owner
4. Or System will find someone, from own logic

Technical -
This was not initially supported, as this module is for New Companies
But some companies still use this as a regul

[2022-10-10 09:14] mitulpanch commented on #1703
This is confirmed over phone

[2022-10-10 09:17] mitulpanch commented on #1703
We do take price from Other Automated Method,
I remember @vinpahilwani stated this should be free as it is triggered by user, at time of limit increase from 500 to 5000
So revenue will hit too if this becomes regular usage

[2022-10-10 10:05] dharmendraecb commented on #1684
![image](https://user-images.githubusercontent.com/46588108/194842338-49a4770e-f781-402d-beb0-72393deed47f.png)

[2022-10-10 12:34] mitulpanch commented on #1700
that is no bug, paging change complete context , so we dont keep previously selected

[2022-10-10 12:35] #1700 closed, assigned to mitulpanch, dharmendraecb

[2022-10-10 12:36] mitulpanch commented on #1702
this is ideal, because user may have changed something on project, that changes whole context of paging,

 if we dont refresh may be deleted project from inside view will show up here

anyway leaving to others

[2022-10-10 12:48] vinpahilwani commented on #1702
i think we should hold up page hume usi page pe wapas lana chahiye

[2022-10-10 23:25] vinpahilwani commented on #1690
No need to do this

[2022-10-11 00:53] mitulpanch commented on #1702
Delete project feom inside and coming back to list, of we dont refresh this will give error

[2022-10-11 03:14] mitulpanch opened #1704 "Contact - Multiple Delete Action"
Problem-
User wants to Delete Multiple Contact At a time

Technical Detail-
1. This is heavy Task on background
2. anything more than 20 should go to background Task
3. System will take order to Delete contacts on Background Engine
4. Once Triggered Task can not be stopped
5. Contacts will be visible on Contacts Page, until system processes it
6. Contact will be valid and working until system remo

[2022-10-11 03:16] mitulpanch commented on #1704
1. anything from Multiple action will go to Task
2. Priority will be dependent on other task pending execution
3. Need to Create Background Task for this

Time required - 2 hours for Background Task
1 Hour for Design Validations

[2022-10-11 03:17] mitulpanch opened #1705 "Company Page - Multiple Delete Action"
Problem-
User wants to Delete Multiple Company At a time

Technical Detail-

1. This is heavy Task on background
2. anything more than 20 should go to background Task
3. System will take order to Delete companies on Background Engine
4. Once Triggered Task can not be stopped
5. Companies will be visible on Company Page, until system processes it
6. Company will be valid and working until system re

[2022-10-11 03:17] mitulpanch commented on #1705
1. anything from Multiple action will go to Task
2. Priority will be dependent on other task pending execution
3. Need to Create Background Task for this

Time required - 4 hours for Background Task
1 Hour for Design Validations

[2022-10-11 03:21] mitulpanch opened #1706 "Transaction Page - Multiple Delete Action"
Problem-
User wants to Delete Multiple Transaction At a time

Technical Detail-

1. anything more than 20 should go to background Task
2. System will take order to Delete Transaction on Background Engine
3. Once Triggered Task can not be stopped
4. Transaction will be visible on Transaction Page, until system processes it
5. Transaction will be valid and working until system removes them
6. This a

[2022-10-11 03:21] mitulpanch commented on #1706
1. anything from Multiple action will go to Task
2. Priority will be dependent on other task pending execution

Need to Create Background Task for this
Time required - 3 hours for Background Task
1 Hour for Design Validations

[2022-10-11 03:23] #1074 closed, assigned to nobody

[2022-10-11 03:24] mitulpanch commented on #1074
It live long before

[2022-10-11 03:35] mitulpanch opened #1707 "Transaction Page - Payment Mode required on List"
Problem -
New Column required

Design-
This page opens on side pane on some places
additional column may give design errors, some mobile , tablet view issue due to tight design spaces

Initiated by @vinpahilwani
verified by @mitulpanch

[2022-10-11 03:36] mitulpanch commented on #1707
Time Required -
15 minute

[2022-10-11 03:49] mitulpanch opened #1708 "Contact Page - Disable all kind of Notification by default"
Problem-
Contacts are added by default with notification ON

**It is Illegal to send Notification without consent.**

 We got penalize for that once as System Provide with warning

So now onward Consent is required from User to Send Notification of any kind,
By default all Contact will add with Notification OFF
A mechanism is required to show when consent is provided and by whom to Legally send Em

[2022-10-11 03:50] mitulpanch commented on #1708
I have given all information over phone to @vinpahilwani
And he agreed 2 months before
but i forgot to create issue for that. so now i am creating this

[2022-10-11 03:50] Avinash-ecb opened #1709 "Contact Page - can we display count of companies he is holding position in"
**Describe the bug**
- can we display count of companies in column of contact list he (Contact) is holding position in it

![image](https://user-images.githubusercontent.com/46588125/194993033-e69d04cd-a74c-44e6-87b8-19d14c52f7b8.png)

[2022-10-11 03:52] mitulpanch commented on #1709
Yes it is possible.
but i guess next step would be Open Position window on click
That i dont want to do because of difficulties on popover inside Contact Edit / View Mode
Without that no problem

[2022-10-11 03:53] mitulpanch commented on #1709
Time -
30 minute design
10 minute backend

[2022-10-11 03:55] Avinash-ecb opened #1710 "Contact Page - on multiple contact selection can you provide app invite action"
**Describe the bug**
- on multiple contact selection can you provide app invite action

![image](https://user-images.githubusercontent.com/46588125/194993567-ba933fb6-bf96-4581-b17b-1e54c3b9b927.png)
![image](https://user-images.githubusercontent.com/46588125/194993604-88b855c7-32b8-4ae3-a48c-06b98a913d8b.png)

[2022-10-11 03:57] vinpahilwani commented on #1709
I think we should provide this

[2022-10-11 03:58] vinpahilwani commented on #1708
done

[2022-10-11 03:58] mitulpanch commented on #1709
popover coming?

[2022-10-11 03:59] vinpahilwani commented on #1707
done

[2022-10-11 04:01] mitulpanch commented on #1709
with popover -
design - 3-4 hours
20 minutes - backend

[2022-10-11 04:03] Avinash-ecb opened #1711 "Contact Page - Required change tag option on multiple selection in action view"
**Describe the bug**
- contact me multiple selection me action button pe change tag wala option nahi aa raha, single contact selection me aa raha hai

![image](https://user-images.githubusercontent.com/46588125/194994353-9235f7f4-9ac8-42e2-a030-c0b6800dba51.png)

[2022-10-11 04:04] mitulpanch commented on #1546
#1708 clash with this

[2022-10-11 04:04] mitulpanch commented on #1546
so ignoring this issue in favour of other issue

but i take this a input to provide some easiness to take consent from client

[2022-10-11 04:05] #1546 closed, assigned to mitulpanch, dharmendraecb

[2022-10-11 04:07] Avinash-ecb commented on #1711
After discuss with @mitulpanch sir
- This option is already available but after @vinpahilwani sir's suggestion this is removed
https://github.com/Fammeo/EasyCloudBooks/issues/1074

If again you (@vinpahilwani sir) want this option then we can add

[2022-10-11 04:09] mitulpanch commented on #1710
This is doable
Email / SMS to all consent approved contacts
Time-
backend - 3 hours
frontend - 1 hour

[2022-10-11 04:14] mitulpanch commented on #1711
I dont think this is required anymore,
Single contact edit - gives only **change tag** because we can provide what was selected tag currently
for multiple contact - only single action possible as we cant show tag already existing

So ,1 Contact - gives Change Tag - No Add / Remove - as change tag does all thing
Multiple Contact - give Add / Remove Tag - in bulk action

[2022-10-11 04:15] Avinash-ecb opened #1712 "Contact Page - We should show actions on contact view page which is available in actions button"
**Describe the bug**
- jo action hum list view pe contact me dete hai woh humein contact ke detailed view pe bhi deni chahiye jaise send app notification, send email, send sms etc

![image](https://user-images.githubusercontent.com/46588125/194995564-9020a514-fccb-4d97-9374-ded7ac2be8fe.png)

[2022-10-11 04:20] mitulpanch commented on #1712
i consider this a new concept
I welcome this suggestion

This is very complex action available logic, what is available , whats not depends on selection
bringing this requires new logic for single object selection

Time Required -
1. New compact button design in Menu style over all object preview
2. Role check mechanism
3. Api calls for signle object

considering all this Time would be around 6-8

[2022-10-11 05:08] Avinash-ecb commented on #1689
https://www.berrycast.com/conversations/389a3a1c-7932-5650-9430-d6a020106992
In contact page position view there is not also working please check

[2022-10-11 05:35] mitulpanch opened #1713 "Company Custom Field - New Reminder Date with Note Required"
Problem -
User who works on this page, they can not work efficiently without difference between whats done and what needs attention

Solution-
1. Reminder Date with Note option on each object will solve this problem
2. Reminder date is from tomorrow to next 1 month max date
3. once All Custom Field Complete this will be cleared
4. Only 1 note is present at time, no history, log entry available for

[2022-10-11 05:35] mitulpanch commented on #1713
This will remove default sorting of empty custom count, because of reminder date sorting

[2022-10-11 05:35] mitulpanch commented on #1713
Time required -
backend - 6-8 hour
frontend- 4-6 hour

Contact =
backend - 1 hour
frontend - 1 hour
Project =
backend - 1 hour
frontend - 3-4 hour

[2022-10-11 05:36] mitulpanch commented on #1713
i have explained this over phone to @vinpahilwani

[2022-10-11 05:38] mitulpanch commented on #1689
Removed status filer ,as api was not supporting that

[2022-10-11 05:49] mitulpanch commented on #1713
This also applied to
Contact Page - Contact Custom Field - Reminder note
Project Page - Project Custom Field - Reminder note
1. for Project -> Role => Project Custom Field => Edit
2. from Inside Project / on Project Page => Member Role

[2022-10-11 06:11] Avinash-ecb opened #1714 "Company custom field Page - service count should reflect after adding service in customfield"
**Describe the bug**
- when we are adding service to custom field having company-service type then it is not reflect after adding service we have to close view and again open to view count

![image](https://user-images.githubusercontent.com/46588125/195010072-cfcc7888-b551-4fee-95a5-04f33fecdb03.png)

https://www.berrycast.com/conversations/2b07e1dc-8923-57fd-9f0d-1607cc44d10f

[2022-10-11 06:39] Avinash-ecb opened #1715 "Company customfield page - company-service type customfield is creating without service"
**Describe the bug**
- when we create company-service type it shows required but it is creating/updating without service

![image](https://user-images.githubusercontent.com/46588125/195014342-2fd6ee81-9f6f-43f5-b1b7-1d17ce1a2d1e.png)

[2022-10-11 07:23] mitulpanch commented on #1715
That is not a problem,
User can attach service at any point of time

[2022-10-11 07:23] mitulpanch commented on #1715
There are other ways like import will create service without services attached

[2022-10-11 07:25] Avinash-ecb commented on #1715
then service has red star it should remove

[2022-10-11 08:44] mitulpanch opened #1716 "Document Page - Renaming File is not working correctly"
Bug -
While renaming file, file gets downloaded

Reported by @vinpahilwani

[2022-10-11 09:10] mitulpanch commented on #1715
ok removing star

[2022-10-11 09:11] dharmendraecb commented on #1715
![image](https://user-images.githubusercontent.com/46588108/195049005-1356e53b-0cdf-46fa-8af5-16c3fa27bfa2.png)

[2022-10-11 09:14] mitulpanch commented on #1664
Filters and Action are used on multiple pages
this changes like dependencies on Filter will make lot more worse for this things to handle

[2022-10-11 09:59] Avinash-ecb opened #1717 "Project Custom field - When create customfield it shows already exist"
**Describe the bug**
- when we try to create customfield name "test project to company" it shows Duplicate Key Name already Exists
![image](https://user-images.githubusercontent.com/46588125/195060049-f394b764-e704-44ad-8623-d7bd579d82ea.png)

https://www.berrycast.com/conversations/e041398f-da45-57a7-9573-dde6c7ec2337

[2022-10-11 10:26] dharmendraecb commented on #1665
- Link Remove
- List design Not remove

[2022-10-11 10:29] mitulpanch commented on #1662
Aligning Archive button with Edit Role
anyone with Edit role only can Archive / Unarchive

[2022-10-11 10:42] dharmendraecb commented on #1623
![image](https://user-images.githubusercontent.com/46588108/195069589-34db50a1-280e-4761-8f91-3e0a86485a34.png)

[2022-10-11 10:51] mitulpanch commented on #1698
List => HaveScheulder => Is Recurring ?
Filter => Is Scheduler => Is Recurring ?
when filter applied => Is Scheduler => Is Recurring ?

[2022-10-11 13:13] mitulpanch opened #1718 "Company Custom Field - Set All in single button"
Set "Export" button inside Import Menu

![image](https://user-images.githubusercontent.com/5259926/195100176-65928907-3e28-48b1-832b-8095ebed8173.png)

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-10-11 13:13] mitulpanch commented on #1718
This applies to
Contact Custom Field also

[2022-10-11 13:13] mitulpanch commented on #1718
approved over phone by @vinpahilwani

[2022-10-11 13:43] mitulpanch commented on #1717
![image](https://user-images.githubusercontent.com/5259926/195107684-95b6569c-852d-4423-8cc9-8832064f830f.png)
its already exist

[2022-10-12 03:35] #1717 closed, assigned to mitulpanch, dharmendraecb

[2022-10-12 05:05] Avinash-ecb opened #1719 "Project Page - icon is not changed when we open and close project related custom field"
**Describe the bug**
- icon is not changed when we open and close project related custom field in project page
![image](https://user-images.githubusercontent.com/46588125/195254628-b9eff301-046c-451c-ae68-5f9ef6847789.png)
![image](https://user-images.githubusercontent.com/46588125/195254654-3c7bd35a-afc6-4689-aae8-952f31938837.png)

https://www.berrycast.com/conversations/bc571904-337e-5c46-8f8e-

[2022-10-12 05:40] Avinash-ecb commented on #1622
https://www.berrycast.com/conversations/3e3d645e-653d-5ff0-be77-f63722038f53

[2022-10-12 05:40] #1622 closed, assigned to mitulpanch, dharmendraecb

[2022-10-12 05:48] mitulpanch opened #1720 "Company Custom Field - Remove Processing Button"
Problem -
@vinpahilwani dont want to show this to user

Brief-
System works in background to update custom field
If we dont show this, User might think that this is error

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-10-12 05:53] mitulpanch commented on #1720
![image](https://user-images.githubusercontent.com/5259926/195261057-af3f4151-011f-45da-b979-f8269afc5ccd.png)
Remove Processing

[2022-10-12 05:53] mitulpanch commented on #1720
System will work in background, just dont show user

[2022-10-12 06:13] mitulpanch commented on #1624
cant do anything for Past values
Please Test with some new values providing same value lowercase and uppercase
I guess this is already solved for new values

[2022-10-12 06:17] mitulpanch commented on #1513
Other Start issue already exists, so closing this

[2022-10-12 06:17] #1513 closed, assigned to mitulpanch, dharmendraecb

[2022-10-12 06:18] mitulpanch commented on #1513
#1516

[2022-10-12 07:21] Avinash-ecb commented on #1583
https://www.berrycast.com/conversations/ae6da49f-1d6e-553c-8941-99a35ca01416

[2022-10-12 07:21] #1583 closed, assigned to mitulpanch, dharmendraecb

[2022-10-12 07:50] mitulpanch commented on #1552
@dharmendraecb  Instead on 1 Rs add Per Project price to textbox

[2022-10-12 07:52] mitulpanch commented on #1555
#1712 can solve this

[2022-10-12 08:05] mitulpanch commented on #1555
Closing this issue in favor of #1712
Both are same

[2022-10-12 08:05] #1555 closed, assigned to vinpahilwani, sureshsirvi

[2022-10-12 08:05] mitulpanch commented on #1713
already live, leaving for @vinpahilwani to comment

[2022-10-12 08:11] mitulpanch opened #1721 "Contact Page - Consent providing mechanism required - Urgent"
#1708
Notification will be disabled by default for All Contact's Email, Phone
User needs to provide consent in behalf for their Client

Things Required -
1. Consent Providing on Edit Contact
2. Show previous Consent details
3. Multiple Consent approval
4. Display Warning for providing Consent for their Client

Initiated by @mitulpanch
Verified by @vinpahilwani

[2022-10-12 08:14] mitulpanch commented on #1721
Time Required -
Backend - 4-6 hours
Frontend - 4-6 hours

[2022-10-12 08:20] mitulpanch opened #1722 "Project Page - Add Badge for All Custom Fields complete"
Problem -
User cant find Project to work with, with all Custom Field requirement complete

![image](https://user-images.githubusercontent.com/5259926/195289157-e7010c4b-f016-49c6-a28f-f85f60311679.png)

solution -
1. Add new badge beside Team Required icon
2. So Project manager from List can see badge to get Project Status about Custom Field
3. Along with this Query Builder will be available to Ge

[2022-10-12 08:39] mitulpanch commented on #1722
API ready

[2022-10-12 09:23] mitulpanch opened #1723 "Email Preview - Change design"
Problem -
Old design gives lot of problem-
and no migration possible

Solution-
Change UI and set Api based Preview
New Design required

Initiated by @mitulpanch

[2022-10-12 09:52] mitulpanch commented on #1723
API - /api/other/getemailpreview

[2022-10-12 22:09] vinpahilwani commented on #1660
@mitulpanch kya naya hai isme mujhe samajh nahi aa raha hum discuss karke is card ko khattam karein?

[2022-10-12 22:10] vinpahilwani commented on #1709
popover coming matlab?

[2022-10-12 22:11] vinpahilwani commented on #1516
Mujhe konse question ka answer dena hai woh samajh nahi aa raha?

[2022-10-12 22:13] vinpahilwani commented on #1678
I think hum yeh discuss kar chuke hai ki custom field delete hogi jab field delete hogi and agar service unlink hoti hai and custom field me value bari hui hai toh woh delete nahi hogi

[2022-10-12 22:14] vinpahilwani commented on #1676
mujhe isme konse sawal ka jawab dena hai?

[2022-10-12 22:15] vinpahilwani commented on #1673
what is my role in this ?

[2022-10-12 22:16] vinpahilwani commented on #1686
haan wohi hai relaitonship manager wala usko bahar chahiye

[2022-10-12 22:18] vinpahilwani commented on #1675
mujhe yeh samajh nahi aa raha plz aap log hindi me likho issue kya hai

[2022-10-12 22:19] vinpahilwani commented on #1692
done

[2022-10-12 22:20] vinpahilwani commented on #1696
Ok

[2022-10-13 03:32] Avinash-ecb commented on #1675
@vinpahilwani sir client ko bill (invoice) number chahiye,
 jo pahle other setting me transaction print me keyword add karke ho jata tha
 abhi multiple invoice print karne hote hai so ek comman header le liya hai and comman header me transaction unique id ka functionality remove kar di hai
so vaha se abhi ye manage nahi hota

[2022-10-13 03:34] Avinash-ecb commented on #1675
abhi bill number ka solution nahi hua hai Sirvi Associates ke staff ko chahiye tha
over to @vinpahilwani

[2022-10-13 03:40] Avinash-ecb commented on #1645
![image](https://user-images.githubusercontent.com/46588125/195493859-899b2caf-e1f9-428c-95a8-17f325cae2d3.png)

[2022-10-13 03:40] #1645 closed, assigned to nobody

[2022-10-13 03:56] Avinash-ecb commented on #1687
https://www.berrycast.com/conversations/e726a911-a378-5700-bf4b-c3064e5d82f4

[2022-10-13 03:56] #1687 closed, assigned to mitulpanch, dharmendraecb

[2022-10-13 04:06] Avinash-ecb commented on #1652
![image](https://user-images.githubusercontent.com/46588125/195496825-97e6bf0f-6bfc-4f9d-91ed-fcbe703d6477.png)

[2022-10-13 04:06] #1652 closed, assigned to mitulpanch, dharmendraecb

[2022-10-13 04:31] Avinash-ecb opened #1724 "Project Custom field Page - Project custom field page showing blank page"
**Describe the bug**
- when user don't have permission to view project custom field page it shows blank page

![image](https://user-images.githubusercontent.com/46588125/195502179-aeef7ef8-93cf-4068-838f-afb88eaf3561.png)

![image](https://user-images.githubusercontent.com/46588125/195501815-ef8b0e81-f95e-48cc-a096-732fc7a9f7c5.png)

- user has only read project and project custom field role
![ima

[2022-10-13 04:47] Avinash-ecb opened #1725 "Role Page - Edit project custom field role not working in role page"
**Describe the bug**
- User has read and edit project custom field role but user can not edit project custom field
- create button also not display

![image](https://user-images.githubusercontent.com/46588125/195503915-7ab53fef-d4ac-4595-8107-cd0ad4316138.png)

![image](https://user-images.githubusercontent.com/46588125/195503860-46e9bc3a-b0c1-4563-859b-f05cb93300c1.png)

https://www.berrycast.com

[2022-10-13 04:48] Avinash-ecb commented on #1633
**Describe the bug**
- User has read and edit project custom field role but user can not edit project custom field
- create button also not display

![image](https://user-images.githubusercontent.com/46588125/195503915-7ab53fef-d4ac-4595-8107-cd0ad4316138.png)

![image](https://user-images.githubusercontent.com/46588125/195503860-46e9bc3a-b0c1-4563-859b-f05cb93300c1.png)

https://www.berrycast.com

[2022-10-13 04:49] Avinash-ecb commented on #1725
https://github.com/Fammeo/EasyCloudBooks/issues/1633
duplicate

[2022-10-13 04:49] #1725 closed, assigned to mitulpanch, dharmendraecb

[2022-10-13 05:14] mitulpanch commented on #1725
Custom Field Role check hota he,
Project Custom Field nai

[2022-10-13 05:26] Avinash-ecb commented on #1649
https://www.berrycast.com/conversations/4404f8e9-d800-5c9a-b45b-120093108be0

[2022-10-13 05:26] #1649 closed, assigned to nobody

[2022-10-13 05:51] vinpahilwani commented on #1706
chahiye

[2022-10-13 05:51] vinpahilwani commented on #1705
chahiye

[2022-10-13 05:51] vinpahilwani commented on #1704
chahiye

[2022-10-13 05:52] vinpahilwani commented on #1703
chahiye

[2022-10-13 05:54] vinpahilwani commented on #1697
chahiye

[2022-10-13 06:02] vinpahilwani commented on #1675
unique number chahiye compulsory

[2022-10-13 06:37] vinpahilwani commented on #1660
1. Service agar unlink hoti hai and usme value hai toh woh value rahegi
2. par agar custom field delete hoti hai toh woh value delete kar deni hai
3. agar service delete hoti hai - toh bhi value bhari hui hai woh rahegi

[2022-10-13 06:38] vinpahilwani commented on #1709
nahi theek hai nahi aayega

[2022-10-13 06:54] Avinash-ecb commented on #1633
User has not customfield role so it is not working
![image](https://user-images.githubusercontent.com/46588125/195522382-df8bb6a5-ee49-4ba6-9ff6-d12610308c5d.png)

[2022-10-13 06:54] #1633 closed, assigned to nobody

[2022-10-13 08:02] mitulpanch opened #1726 "Voucher Print - Add Unique Id to all Voucher Prints"
Problem -
User wants UniqueId in Print mode

Solution -
Template base solution is not possible, due common Template creation from Settings page
Template is now common, for all vouchers, earlier it was different Template for different type of Vouchers, but after new Settings page, this feature is removed

1. Add UniqueId to all types of vouchers,
2. There is no special option like dont show Unique

[2022-10-13 08:10] mitulpanch commented on #1722
All things explained to @vinpahilwani
No comments received so moving to production

This is based on Project Custom Field count
Company Custom Field is no way related to this

[2022-10-13 08:14] mitulpanch commented on #1703
After discussion over phone @vinpahilwani
We agreed on
1. New Company will get this feature as free for 1 month from Create Date
2. All other Project after grace period (1 month), projects will be charged as same rate as Scheduled Project

[2022-10-13 08:15] mitulpanch commented on #1702
@vinpahilwani Please confirm what happens if something changes inside view that changes List view count?

[2022-10-13 08:16] mitulpanch commented on #1697
over phone, Ignore theme, just give blue color

[2022-10-13 08:18] mitulpanch commented on #1686
Please confirm dena he?
There are already 8 filters, and more 3 filter which are hidden but visible on other modes
This can be done from Query Builder

[2022-10-13 08:19] mitulpanch commented on #1686
Timing -
Frontend - 2 hours
backend - 30 minute

[2022-10-13 08:21] mitulpanch commented on #1675
#1726  issue created for this issue
Closing this

[2022-10-13 08:21] #1675 closed, assigned to Avinash-ecb

[2022-10-13 08:23] mitulpanch commented on #1673
over phone,
Remove get in touch if company's email is not coming

I guess its already Company's email, ECB not in picture anywhere
moving to Testing to confirm

[2022-10-13 08:27] mitulpanch commented on #1676
@vinpahilwani apko batan tha ke kuch develop karna he or current speed is ok?

[2022-10-13 08:40] mitulpanch commented on #1676
anyway agar kisi ke pass better idea he to process contact company import load then
Please provide Logic here
@vinpahilwani , @sureshsirvi

[2022-10-13 08:42] mitulpanch commented on #1709
Over phone
I have explained difficulties in developing this, because of multiple page mode,
and this is already available inside contact view

Closing this as it is not required

[2022-10-13 08:42] mitulpanch commented on #1709
Over phone
I have explained difficulties in developing this, because of multiple page mode,
and this is already available inside contact view

Closing this as it is not required

[2022-10-13 08:42] #1709 closed, assigned to mitulpanch, dharmendraecb

[2022-10-13 08:44] mitulpanch commented on #1660
This is live now,
I have explained to @vinpahilwani  non schedule Service Custom Field problem.
but not interested for that. sol closing this now

[2022-10-13 08:44] #1660 closed, assigned to nobody

[2022-10-13 08:46] mitulpanch commented on #1003
Please @vinpahilwani @sureshsirvi confirm what need to develop so i can move this issue,,
if nothing then please say here

[2022-10-13 08:47] mitulpanch commented on #1678
Ok so i take this as, Show this module no change required

[2022-10-13 08:47] #1678 closed, assigned to nobody

[2022-10-13 08:50] mitulpanch commented on #1712
After discussion with @dharmendraecb
This will take about 2 days

[2022-10-13 09:02] mitulpanch commented on #1721
After discussion over Phone @vinpahilwani
1. Email / Whatsapp requires simple consent, Staff need to Select Multiple Contact from contact page, and Get Consent will approve consent for selected contacts for Email / Whatsapp
2. SMS approval required APP install, on Get Consent ECB will send SMS on behalf of Company to Contact, asking to Install App, if Client install app then and then only ECB will

[2022-10-13 09:02] mitulpanch commented on #1721
@vinpahilwani will provide consent warning message here

[2022-10-13 10:32] #1681 closed, assigned to nobody

[2022-10-13 11:14] mitulpanch opened #1727 "Review Project - Show Setting Off message"
Problem -
when user comes to review Project without Review Setting, No Project Found comes
User may not know about settings, that triggers review section

Solution -
1. Show Review ON/OFF setting on this page, instead of No PRoject Found Message
2. like Personal Gadget have this king of view
3. this will redirect to Setting page where setting is.

Initiated by @vinpahilwani
verified by @mitulpanch

[2022-10-13 11:15] mitulpanch commented on #1727
approved by @vinpahilwani over phone

[2022-10-14 03:38] Avinash-ecb commented on #1692
Next reminder date picker not working
![image](https://user-images.githubusercontent.com/46588125/195756749-33d2ac98-3f73-4387-a119-b338fb50119b.png)
![image](https://user-images.githubusercontent.com/46588125/195756695-97eb9cc0-0525-4153-bbc1-6728b90067ff.png)

[2022-10-14 05:28] Avinash-ecb commented on #1716
https://www.berrycast.com/conversations/a4317909-b14c-595f-b0c9-e7e324bfc2a4

[2022-10-14 05:28] #1716 closed, assigned to dharmendraecb

[2022-10-14 05:42] Avinash-ecb commented on #1698
![image](https://user-images.githubusercontent.com/46588125/195770872-6010f31c-24f6-4a49-a46f-9c517bc7c7b2.png)
![image](https://user-images.githubusercontent.com/46588125/195770900-e6b07d25-d0e5-467b-82ac-b25f0f54def5.png)

[2022-10-14 05:42] #1698 closed, assigned to mitulpanch, dharmendraecb

[2022-10-14 07:08] Avinash-ecb commented on #1665
This page is remaining
![image](https://user-images.githubusercontent.com/46588125/195784332-aa856f16-a958-4bbe-bcd5-d14c55e24a5a.png)

[2022-10-14 07:41] Avinash-ecb commented on #1623
![image](https://user-images.githubusercontent.com/46588125/195790567-59c1dbad-10d1-4cba-ba9d-ed301cae8fc0.png)

[2022-10-14 07:41] #1623 closed, assigned to mitulpanch, dharmendraecb

[2022-10-14 08:14] Avinash-ecb commented on #1664
![image](https://user-images.githubusercontent.com/46588125/195797129-cec68a59-5c18-4706-a619-e604033babfe.png)

[2022-10-14 08:14] #1664 closed, assigned to mitulpanch, dharmendraecb

[2022-10-14 09:37] Avinash-ecb commented on #1657
https://www.berrycast.com/conversations/fb86361d-6b9b-51b9-873a-182857b43519

[2022-10-14 09:37] #1657 closed, assigned to mitulpanch, dharmendraecb

[2022-10-15 05:02] Avinash-ecb opened #1728 "Contact Custom Field - Issue while type conversion from text to number"
**Describe the bug**
- After conversion it showing text if we edit and added a number or remove text then also shows old text
- After conversion if we edit blank customfield and added a number then also it shows blank

![image](https://user-images.githubusercontent.com/46588125/195969629-38bae90d-cac1-49b2-aaa7-159d6184e8b5.png)

![image](https://user-images.githubusercontent.com/46588125/19596961

[2022-10-15 05:21] Avinash-ecb opened #1729 "Contact Customfield page - Issue while conversion from text to boolean"
**Describe the bug**
  - After conversion it showing text if we make it on then also it shows old text
  - After conversion if we make on blank customfield it does not show on text

![image](https://user-images.githubusercontent.com/46588125/195970245-219c164e-c9aa-409b-ac1e-41f449d8133f.png)
![image](https://user-images.githubusercontent.com/46588125/195970266-960d760f-56c8-4904-abf8-03c5f187b97d

[2022-10-15 06:40] Avinash-ecb opened #1730 "Contact Custom Field Page - Issue while type conversion from text to date"
**Describe the bug**
- After conversion from text to date type if we edit filled customfield value it shows old value
- After conversion if we edit blank value and we added date then also it shows blank

![image](https://user-images.githubusercontent.com/46588125/195973110-691531ae-4f67-4597-bcf3-9e530bdf55b1.png)
![image](https://user-images.githubusercontent.com/46588125/195973118-7098ff40-c0bf-

[2022-10-15 06:54] Avinash-ecb opened #1731 "Contact Customfield Page - Url type custom field accepting number and text values"
**Describe the bug**
- When we create a customfield of type url then it displays in contact page
- We can added in that customfield text and numbers it should allowed only url

![image](https://user-images.githubusercontent.com/46588125/195973623-750dc6d7-f1d9-4cb2-ab34-3f2fce68e295.png)
![image](https://user-images.githubusercontent.com/46588125/195973636-d48469c8-4d63-4d9f-b818-a8000060a963.png)

[2022-10-15 07:19] Avinash-ecb opened #1732 "Contact customfield Page - After removing email id from email type customfield it shows old email id"
**Describe the bug**
- After removing email id from email type customfield then also it shows old email id
![image](https://user-images.githubusercontent.com/46588125/195974465-ea4ea904-0270-4daf-883f-8ec0daa74039.png)
![image](https://user-images.githubusercontent.com/46588125/195974478-e106fdc3-c724-4ff2-9e86-0ec120259370.png)

[2022-10-15 08:06] Avinash-ecb opened #1733 "Contact customfield page - country code can not change once added"
**Describe the bug**
- If we added phone number it can not blank or we can not change country code

![image](https://user-images.githubusercontent.com/46588125/195976440-a53ce134-29e5-4443-b04c-80372ac9f0f7.png)

[2022-10-15 08:57] Avinash-ecb opened #1734 "Contact Custom field - Issue after type conversion from number to text"
**Describe the bug**
- after conversion of type from number to text field if we added text then it is not showing text value

![image](https://user-images.githubusercontent.com/46588125/195978215-739d2477-d670-4be5-92ff-30410d3c71c2.png)
![image](https://user-images.githubusercontent.com/46588125/195978226-6ed54081-0bdb-41a5-a6e1-8d6642bc2fae.png)

https://www.berrycast.com/conversations/327e19d4-

[2022-10-15 09:49] Avinash-ecb opened #1735 "Contact custom field Page - After conversion from number to boolean it shows old values"
**Describe the bug**
- after conversion from number to bool if we change on/off then also it shows old values

![image](https://user-images.githubusercontent.com/46588125/195980047-79fdbd91-a018-4a1c-ab76-f324795b2e78.png)
![image](https://user-images.githubusercontent.com/46588125/195980067-dfca474b-c801-4c7d-ac3e-6998ed4cea50.png)

https://www.berrycast.com/conversations/6f9ca347-d43a-5d34-a7ac-

[2022-10-15 11:59] mitulpanch opened #1736 "Contact Company Import - Mapping of Column Required"
Problem -
New Client needs this feature, as they are new to system and mostly upload excel file they receive from other Software to start ECB
ECB has its own import excel format
@sureshsirvi suggested to create Mapping of Excel so User can upload any kind of excel file they receive from other computers

Technical-
1. Mapping of column will requires about 3 days to develop

Initiated by @sureshsirv

[2022-10-15 12:01] mitulpanch commented on #1736
Workflow
1. Client Uploads file in excel
2. Then after initial processing, need to map additional column with ECB column
3. If Column name is in ECB format then auto Map

not sure about any other requirements,
Please @vinpahilwani @sureshsirvi Upload your requirement in order to fullfill

[2022-10-15 12:08] mitulpanch opened #1737 "ECB Company - Start Page"
Problem-
when new company Joins ECB, they want to start as fast as possible
Even our Setup Team prefer fast Setup, specifically in 1 hour
Also ECB wants to offer some pre-configured Service Packages to new Clients
There should be page which do this kind of thing when new company join in

Solution
1. When new company comes in to ECB they must go through Package selection process
2. This is custom P

[2022-10-15 12:08] mitulpanch commented on #1737
Please @vinpahilwani , @sureshsirvi contribute in
 suggestion, development of this module

[2022-10-15 12:18] mitulpanch commented on #1703
Pricing is still need to be developed
I will create new Issue for that

[2022-10-15 12:19] mitulpanch opened #1738 "Project Import - Start Pricing"
After discussion over phone @vinpahilwani
We agreed on
1. New Company will get this feature as free for 1 month from Create Date
2. All other Project after grace period (1 month), projects will be charged as same rate as Scheduled Project

_Originally posted by @mitulpanch in https://github.com/Fammeo/EasyCloudBooks/issues/1703#issuecomment-1277215631_

[2022-10-15 12:29] mitulpanch commented on #1738
Problem / Solution-
1. This Module was for New Client to start ECB
2. but User use this Module on regular basis, to create project instead of other methods like Schedule Project
3. This module is free so user tend to work from here
4. Also 5000 Project at time, with all services and same logic as Previous Project Todo, Document Repeat is very convenient
5. but creating project in bulk is very heav

[2022-10-15 12:29] mitulpanch commented on #1738
I consider this as Approved from @vinpahilwani
As this was approved on other Issue #1703

[2022-10-15 12:31] mitulpanch commented on #1703
This is issue is solved in terms of giving custom Login in Project Import logic
#1738 Start Pricing Issue for above requirement

[2022-10-16 08:46] sureshsirvi commented on #1003
**Problem Statement:**
Currently we need to do mannualy all transaction entry into tally to maintain books of account. We have already avalable records for Invoices, Receipt, Payment and Journals entries. It becomes the duplication of accounting work.

**Suggested Solutions**
1. XML Data Interchange: In this case tally supports XML file to import transaction into tally and also supports export of

[2022-10-17 03:53] Avinash-ecb opened #1739 "Contact custom field page - After conversion from number to date if we edit it shows old data"
**Describe the bug**
- After conversion from number type to date type of customfield, if we edit some customfield it shows old values

![image](https://user-images.githubusercontent.com/46588125/196085284-ce117fb3-234b-406d-9c43-6455bdcedf0e.png)
![image](https://user-images.githubusercontent.com/46588125/196085314-50206535-0ce0-45f3-bbb2-6e9dcf37b3fe.png)

https://www.berrycast.com/conversations/

[2022-10-17 04:08] Avinash-ecb opened #1740 "Contact Customfield Page - Display issue while customfield type conversion from number to url"
**Describe the bug**
- When we change customfield type from number to url then if we edit customfield then it shows old filled data not showing new filled data
![image](https://user-images.githubusercontent.com/46588125/196087074-b6d5bebb-1870-455c-843f-924fcc5c50a4.png)
![image](https://user-images.githubusercontent.com/46588125/196087284-2f126142-c104-4bd0-9507-b5a115cce632.png)

https://www.ber

[2022-10-17 04:50] Avinash-ecb opened #1741 "Contact Customfield Page - Display issue while customfield type conversion from number to select"
**Describe the bug**
- When we change customfield type from number to select then if we edit customfield then it shows old filled data not showing new filled data

![image](https://user-images.githubusercontent.com/46588125/196091658-a606a07d-1e76-4428-b7fc-d4ad5a8a951a.png)
![image](https://user-images.githubusercontent.com/46588125/196091690-531eacf3-69e0-4f21-8019-0867e546a2f5.png)

https://www

[2022-10-17 05:14] Avinash-ecb opened #1742 "Contact Customfield Page - Display issue while customfield type conversion from number to email"
**Describe the bug**
- When we change customfield type from number to url then if we edit customfield then it shows old filled data not showing new filled data
![image](https://user-images.githubusercontent.com/46588125/196094441-39fb1ca7-77d5-4734-a8c7-2b35a06324d1.png)
![image](https://user-images.githubusercontent.com/46588125/196094465-ede70b22-a9e7-46ee-88a0-c05f01ac21cd.png)

https://www.ber

[2022-10-17 05:42] Avinash-ecb opened #1743 "Contact Customfield Page - Display issue while customfield type conversion from number to phone"
**Describe the bug**
- When we change customfield type from number to phone then if we edit customfield then it shows old filled data not showing new filled data

![image](https://user-images.githubusercontent.com/46588125/196097171-21cfdb78-67bd-48c9-9c6a-da2a8e7efd1f.png)
![image](https://user-images.githubusercontent.com/46588125/196097197-a73489be-a2e8-4e29-b4d1-594769218a01.png)

https://www.

[2022-10-17 06:00] Avinash-ecb opened #1744 "Contact Customfield Page - Display issue while customfield type conversion from number to password"
**Describe the bug**
- When we change customfield type from number to password then if we edit customfield then it shows old filled data not showing new filled data

![image](https://user-images.githubusercontent.com/46588125/196100179-c5f07fdc-9aa6-40aa-8ccb-b5a612e8a7f4.png)
![image](https://user-images.githubusercontent.com/46588125/196100222-67d5c41a-bf73-4101-8974-59f38cab56c9.png)

https://w

[2022-10-17 06:19] Avinash-ecb opened #1745 "Contact Customfield Page - Display issue while customfield type conversion from boolean to text"
**Describe the bug**
- When we change customfield type from boolean to text then if we edit customfield then it shows old filled data not showing new filled data
![image](https://user-images.githubusercontent.com/46588125/196102829-b4353cb2-269e-47bc-bfee-2e433109d0a2.png)
![image](https://user-images.githubusercontent.com/46588125/196102870-99410a98-bc4b-49d5-a7cb-345907fc4dad.png)

https://www.b

[2022-10-17 06:49] Avinash-ecb opened #1746 "Contact Customfield Page - Display issue while customfield type conversion from boolean to number"
**Describe the bug**
- When we change customfield type from boolean to number then if we edit customfield then it shows old filled data not showing new filled data

![image](https://user-images.githubusercontent.com/46588125/196107823-0f6599d0-c861-427e-beac-1962ae895360.png)
![image](https://user-images.githubusercontent.com/46588125/196107875-65a4ec90-fcac-4148-8cdc-2e7a810a4523.png)

https://ww

[2022-10-17 08:56] Avinash-ecb opened #1747 "Project Page - When someone assigns project to staff then show notification to that staff By Abhinav (Sirvi Associates)"
**Describe the bug**
- When staff working on 100 of project and someone adds some more project to him then he can not differentiate which one is newer one and older one

**Suggestion**
- when some user adds some project to staff then show notification to that staff & when staff click on that notification show new project which are added and show which user added this project to that staff

![image

[2022-10-17 10:35] Avinash-ecb commented on #1689
![image](https://user-images.githubusercontent.com/46588125/196156436-01758da7-6384-4239-817b-4d5cac77c370.png)

[2022-10-17 10:35] #1689 closed, assigned to mitulpanch, dharmendraecb

[2022-10-17 10:53] Avinash-ecb commented on #1690
![image](https://user-images.githubusercontent.com/46588125/196159779-e0fb573c-ed2b-4a9f-8810-0d8c35968581.png)

[2022-10-17 10:53] #1690 closed, assigned to mitulpanch, dharmendraecb

[2022-10-17 12:54] mitulpanch commented on #1747
We had this feature in past,
over period of time @vinpahilwani / team Removed many types of Notification
this may be one of them

over to @vinpahilwani / @sureshsirvi  now

Please provide details if want to recreate, how its going to help users without annoying for many

[2022-10-18 03:48] mitulpanch opened #1748 "Company Custom Field - Export / Import Required"
Problem -
User wants to import Excel sheet without need of going to each company and fill custom field

Requirements -
1. Exported sheet should be in format to re-import with values
2. export needed with filter expression selected, whatever filters user have selected, same objects should be exported with export functionality
3. Import sheet will create Custom field if not present, if nothing clash

[2022-10-18 03:49] mitulpanch commented on #1748
This functionality is also required for Contact custom Field
Not required for Project (confirmed over phone with @vinpahilwani )

[2022-10-18 03:50] mitulpanch commented on #1748
Company / Contact matching works same as Company Contact Import logic

[2022-10-18 03:51] mitulpanch commented on #1748
type of Custom field can not be changed => these are hard coded casting => can not be changed

[2022-10-18 03:52] mitulpanch commented on #1748
Export sheet can be reimported without column - row changes
Blank values custom field will be ignored by system,
Only filled value are considered to be processed
So emptying Custom Field value can not be processed by importing sheet

[2022-10-18 04:22] vinpahilwani commented on #1702
i think jis pagination pe user ho usi pe wapas laye toh achha hoga, haan project delete ho toh woh hum nahi dikhayein toh jyada behetar par agar choice nahi hai toh phir pagination pe toh wapas lana chahiye. This is My view what user kya expect karta hai

[2022-10-18 04:25] vinpahilwani commented on #1686
Put this on hold for sometime we will deal with it later

[2022-10-18 04:26] vinpahilwani commented on #1676
i dont have any idea how we can speed up the import process.

[2022-10-18 04:36] vinpahilwani commented on #1003
I authorize this feature but I am not technically sound on this, I request @sureshsirvi @mitulpanch to take care of this feature. I have given my concerns and suggested course of action to sirvi

[2022-10-18 05:35] Avinash-ecb opened #1749 "Contact Page - When we change tag from contact view action button it does not reflect immediately"
**Describe the bug**
- When we change tags from contact view action button it does not change tags immediately we have to close contact view and again open to see changes

![image](https://user-images.githubusercontent.com/46588125/196344030-6af650a3-733b-42cc-918b-d9699644a6bf.png)

https://www.berrycast.com/conversations/4900df13-53b8-5563-a033-79ac2de8dbfd

[2022-10-18 07:02] mitulpanch commented on #1702
OK considering this as Approved, with special requirements like tracking whats done in inside view like Project Delete and take required action

Keeping this in last thing to do, not giving any priority, if required please state here

[2022-10-18 07:07] mitulpanch commented on #1749
I think we need too much of coding to do this
Consider this as action module remake,
this was not planned / not developed specifically to do certain task

Not impossible to do, but requires lot time than it gives perfection to user

[2022-10-18 07:08] mitulpanch commented on #1749
forwarding to other for comments

[2022-10-18 07:28] mitulpanch commented on #1651
as Discussed over phone with @vinpahilwani

Sir agreed on 2 phase terms
1st phase =>
1. reach upto sending Whatsapp though Official Whatsapp Cloud Api
2. Send Whatsapp through Process Flow, Template Selection on Contact , company, Project , Transaction Pages like SMS
3. No reply section
4. Template Creation module with sync facility, which syncs Template on both side
5. Template created on ECB wil

[2022-10-18 07:40] Avinash-ecb commented on #1749
Sir I think if we not give edit, remove and change tag option in this action button it is okay, because in contact view it is already given If he want to do he can do directly from there he will not go action button
This is my point

[2022-10-18 07:44] mitulpanch commented on #1749
ok @Avinash-ecb , i think you mint to say that change tag , other tag related things not required on Action button

[2022-10-18 07:48] Avinash-ecb commented on #1749
Yes @mitulpanch sir, and also edit contact, and remove contact button also because it is already in contact view
![image](https://user-images.githubusercontent.com/46588125/196368772-05bc1572-efa6-4efb-92a6-d9dd77e21253.png)

[2022-10-18 08:55] mitulpanch commented on #1676
typical example of speed
Type | CreateDate | Finish Time | no of objects
---| --- | ---
Company Multiple Service Remove | 2022-10-16 16:31:12.47 | 2022-10-16 16:39:07.043 | -
company-contact | 2022-10-18 08:34:55.705 | 2022-10-18 08:47:48.475 | 600 Company / contact
projectimport | 2022-10-11 15:55:36.091 | 2022-10-11 16:00:13.092 | 22 Projects

[2022-10-18 09:04] mitulpanch commented on #1676
| Type | CreateDate | Finish Time | Time | no of objects |
|---|---|---|---|---|
| Company Multiple Service Remove | 2022-10-16 16:31:12.47 | 2022-10-16 16:39:07.043 | 8.5 minute | - |
| company-contact | 2022-10-18 08:34:55.705 | 2022-10-18 08:47:48.475 | 13 minutes | 600 Company / contact |
| projectimport | 2022-10-11 15:55:36.091 | 2022-10-11 16:00:13.092 | 4.5 Minute | 22 Projects |

[2022-10-18 09:07] mitulpanch commented on #1676
This is original example, in new company, i think this is good speed, lets wait for some time and see more examples

I agree with @sureshsirvi, for a company waiting time happened due to some error, but in 95 % speed is great

I keep this issue open, and i have given some more priority to contact /company import lets take some more sample for other companies, then will do something

[2022-10-18 09:27] mitulpanch commented on #1749
This is not coming, this is temporary, as currently only released on 74, so outside buttons are not removed,
once testing is done, then we will remove outside buttons

[2022-10-18 17:40] sureshsirvi commented on #1676
Sometimes when we onboard the new company ... Company-contact .. import takes around 1 hr to import for 500 Records.. I will post here latest example if any again observed the same issue.. till time i request to keep it open for few days.

[2022-10-18 17:46] sureshsirvi commented on #1003
Tomorrow i will share XML tag for import of voucher. Comparision of type of voucher in tally with ECB.
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Us

[2022-10-18 17:55] sureshsirvi commented on #1747
It is also requested by our some users of ECB i.e. CS Amit and CA Kishoreji ..

We need notification for if any new projects comes to the project manager ..
Example:
1. If owner has updated project manager in few projects like 12 projects updated .. then Notification like "12 New Projects added" to be posted to resptective ECB users.
2. If Auto Projects Created then also same notification must be

[2022-10-18 17:59] sureshsirvi commented on #1737
We need Following Steps.

1. Selection of suggested Service Package on the basis of CA,CS, Lawer, Etc.
2. Selection of most used / usable Automation Packages/Quries/Custom Fields.
3. Selection of most usable Gadgets.
4. Invite Staff
5. Company-Contact Import.

For the above steps, we can use home screen and when new user completes the steps it will marked as "Green Tick". as completed steps.

For

[2022-10-19 03:07] sureshsirvi commented on #1736
No further requirement.

[2022-10-19 03:34] sureshsirvi commented on #1003
Default Ledger for Tally from ECB

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/SURESH~1/AppData/Local/T

[2022-10-19 03:44] sureshsirvi commented on #1003
We need two type of XML export.
1. Master XML file
2. Transaction XML file

[2022-10-19 03:55] mitulpanch commented on #1003
@sureshsirvi
When do you require this?
any priority, currently we are working on Custom Field Module, later Custom File is assigned,
Please provide timeline so i can allocate

[2022-10-19 04:25] Avinash-ecb commented on #1466
![image](https://user-images.githubusercontent.com/46588125/196597079-b47b4925-19ed-48dd-81d1-d9bcdc37bed0.png)
If we click on any notification which are showing in notification pop over then it redirects wrong url like below

https://ac-74.s1.easycloudbooks.com/user/{Current Page}/CreateNotification?id=SU3Y0g7KEESN4vq2hVCisw

this current page should remove

[2022-10-19 04:31] Avinash-ecb opened #1750 "SMS Log Page - Showing message that 'You do not have enough previldege'"
**Describe the bug**
- when user go on SMS Log Page it shows you do not have enough previldege
- user have below role
![image](https://user-images.githubusercontent.com/46588125/196598050-65e54504-1f6e-4b8d-bf9f-b9983f0fd17b.png)

![image](https://user-images.githubusercontent.com/46588125/196597701-4cdb9c8d-4b77-4320-9681-9786971a0dc9.png)

[2022-10-19 04:44] mitulpanch commented on #1750
Please provide API response

[2022-10-19 05:25] mitulpanch opened #1751 "Custom Field - URL type- Validation Required"
problem-
Currently ECB takes url custom field as text without validation
some user just add values which is not correct url
So validation is required on url field like email / phone

Solution
1. URL validation required
2. starts with http:// OR https://
3. add other validation that standard practice for url

initiated by @mitulpanch
verified by @vinpahilwani

[2022-10-19 05:29] mitulpanch commented on #1751
Approved over phone by @vinpahilwani

[2022-10-19 05:37] mitulpanch commented on #1751
if we validate then we can use this somewhere as url,
just type url and value without validation will trigger other problem if used somewhere

[2022-10-19 05:37] sureshsirvi commented on #1003
We need to take this on high priority.. I am ready to provide all required details.

[2022-10-19 07:57] Avinash-ecb opened #1752 "Company Page - when we update relationship manager it is not reflect immediately"
**Describe the bug**
- when we add/remove relationship manager  we can not see any change we have to refresh the page to see change

![image](https://user-images.githubusercontent.com/46588125/196629993-378610e7-3fbe-4bbc-a508-bab43885fb90.png)

[2022-10-19 08:19] Avinash-ecb commented on #1750
![image](https://user-images.githubusercontent.com/46588125/196635925-e6223d70-e70d-449b-ae86-247ee675aeff.png)
![image](https://user-images.githubusercontent.com/46588125/196636088-133fe76b-b341-4da0-9d50-31f52596b526.png)
![image](https://user-images.githubusercontent.com/46588125/196636239-eeb22c1e-c052-4689-8e29-d76bd4f7b0cd.png)

[2022-10-19 09:43] Avinash-ecb opened #1753 "Company Page - Company has service manger but in change service manager pop over does not showing"
**Describe the bug**
- Company has service manager but when we open change service manager it does not show selected service manager

![image](https://user-images.githubusercontent.com/46588125/196656549-78c4d4eb-1fe5-4ef5-a9e9-66da0f7825c0.png)
![image](https://user-images.githubusercontent.com/46588125/196656642-ba623419-7df6-470e-b47c-f17c2231bc74.png)

[2022-10-19 17:06] sureshsirvi commented on #1607
Title with
Voucher No....
Voucher Date..

![Image](https://user-images.githubusercontent.com/46813198/196758167-a7c48c20-04b0-47e3-9282-1df3be8213ee.png)

Body

![Image](https://user-images.githubusercontent.com/46813198/196757781-4afbc32d-5c53-44c9-87b3-5d50fc40aac9.jpg)

We need this item no 3 to 7 in body.

[2022-10-20 03:41] mitulpanch opened #1754 "Service Page - Service Reviewer is becoming Service Manager by default"
Problem-
User wants to Set staff as Service Manager but dont want to make staff Service Manager
In current design this is not possible, when we select Service Reviewer by default it checks as Service Manager, this behavioral is not required

Solution
1. Service Manager and Service Reviewer should be independent

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-10-20 03:43] mitulpanch commented on #1753
This is not Service Manager, I think @Avinash-ecb is taking about Relationship Manager here
---
I think popover is asking to select new Manager, Multiple selection is not allowed that why we are not showing current selection

[2022-10-20 03:54] Avinash-ecb opened #1755 "Job Task Page - When import/finished company customfield job task show blank view"
**Describe the bug**
- When import/finished company customfield job task shows blank page
![image](https://user-images.githubusercontent.com/46588125/196852516-29ff40e4-c771-4d5a-926e-3a5c0ec5c03e.png)
![image](https://user-images.githubusercontent.com/46588125/196852549-fa236888-66db-4914-af50-8351aa84a328.png)
![image](https://user-images.githubusercontent.com/46588125/196852576-65456a5d-36fd-46

[2022-10-20 04:11] mitulpanch commented on #1755
@dharmendraecb
job type =Company-customfield he fir bhi company-contact ka popover call ho raha he, and api bhi

company-contact-import tabhi call hona chahiye jub, job type match kare

[2022-10-20 04:12] sureshsirvi commented on #1003
XML file for voucher for tally import [ Transaction XML file] Master XML file will share you soon.

![Image](https://user-images.githubusercontent.com/46813198/196854521-62fdeae0-6488-4880-bbe3-beb8c33f3388.png)

[2022-10-20 04:13] sureshsirvi commented on #1003
XML for Invoice

`<ENVELOPE>
 <HEADER>
  <TALLYREQUEST>Import Data</TALLYREQUEST>
 </HEADER>
 <BODY>
  <IMPORTDATA>
   <REQUESTDESC>
    <REPORTNAME>All Masters</REPORTNAME>
    <STATICVARIABLES>
     <SVCURRENTCOMPANY>ECB Demo</SVCURRENTCOMPANY>
    </STATICVARIABLES>
   </REQUESTDESC>
   <REQUESTDATA>
    <TALLYMESSAGE xmlns:UDF="TallyUDF">
     <VOUCHER REMOTEID="27995e18-be44-4f78-bcf7-621db83

[2022-10-20 04:23] sureshsirvi commented on #1003
XML file shared on Slack to @mitulpanch

[2022-10-20 04:34] mitulpanch commented on #1003
Invoice
`<ENVELOPE><HEADER><TALLYREQUEST>Import Data</TALLYREQUEST></HEADER><BODY><IMPORTDATA><REQUESTDESC><REPORTNAME>All Masters</REPORTNAME><STATICVARIABLES><SVCURRENTCOMPANY>ECB Demo</SVCURRENTCOMPANY></STATICVARIABLES></REQUESTDESC><REQUESTDATA><TALLYMESSAGE xmlns:UDF="TallyUDF"><VOUCHER REMOTEID="27995e18-be44-4f78-bcf7-621db83af6e4-00000001" VCHKEY="27995e18-be44-4f78-bcf7-621db83af6e4-0000

[2022-10-20 04:45] mitulpanch commented on #1003
JV
`<ENVELOPE><HEADER><TALLYREQUEST>Import Data</TALLYREQUEST></HEADER><BODY><IMPORTDATA><REQUESTDESC><REPORTNAME>All Masters</REPORTNAME><STATICVARIABLES><SVCURRENTCOMPANY>ECB Demo</SVCURRENTCOMPANY></STATICVARIABLES></REQUESTDESC><REQUESTDATA><TALLYMESSAGE xmlns:UDF="TallyUDF"><VOUCHER REMOTEID="27995e18-be44-4f78-bcf7-621db83af6e4-00000005" VCHKEY="27995e18-be44-4f78-bcf7-621db83af6e4-0000af1b:

[2022-10-20 04:45] mitulpanch commented on #1003
Payment
`<ENVELOPE><HEADER><TALLYREQUEST>Import Data</TALLYREQUEST></HEADER><BODY><IMPORTDATA><REQUESTDESC><REPORTNAME>All Masters</REPORTNAME><STATICVARIABLES><SVCURRENTCOMPANY>ECB Demo</SVCURRENTCOMPANY></STATICVARIABLES></REQUESTDESC><REQUESTDATA><TALLYMESSAGE xmlns:UDF="TallyUDF"><VOUCHER REMOTEID="27995e18-be44-4f78-bcf7-621db83af6e4-00000004" VCHKEY="27995e18-be44-4f78-bcf7-621db83af6e4-0000

[2022-10-20 04:46] mitulpanch commented on #1003
Receipt
`<ENVELOPE><HEADER><TALLYREQUEST>Import Data</TALLYREQUEST></HEADER><BODY><IMPORTDATA><REQUESTDESC><REPORTNAME>All Masters</REPORTNAME><STATICVARIABLES><SVCURRENTCOMPANY>ECB Demo</SVCURRENTCOMPANY></STATICVARIABLES></REQUESTDESC><REQUESTDATA><TALLYMESSAGE xmlns:UDF="TallyUDF"><VOUCHER REMOTEID="27995e18-be44-4f78-bcf7-621db83af6e4-00000003" VCHKEY="27995e18-be44-4f78-bcf7-621db83af6e4-0000

[2022-10-20 07:19] mitulpanch commented on #1748
Sample sheet for clients will consist of 1 type of custom fields,

I will create sheet with some common types
@sureshsirvi please provide some default custom field that applies to all customers so that we can provide import sheet (like company contact import)

Company contact import sheet can be used here but that do not consist sample custom field that shows import module functionality

[2022-10-21 02:09] sureshsirvi commented on #1003
Ledger Creation XML Tag
`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE
					xmlns:UDF="TallyUDF">
                    <LEDGER Action="Create">

[2022-10-21 02:13] sureshsirvi commented on #1003
**Create "Receipt" Voucher**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
                    <VOUCHER ACTION="Create" VCHTYPE=" Receipt ">

[2022-10-21 02:42] mitulpanch commented on #1607
@vinpahilwani @sureshsirvi
both please come to same design so that i can forward

[2022-10-21 02:43] mitulpanch commented on #1750
@Avinash-ecb konsi api me error aya tha?

[2022-10-21 02:45] mitulpanch commented on #1752
@dharmendraecb api response required? agar kuch chahiye to batana

[2022-10-21 03:19] sureshsirvi commented on #1003
**Create "Payment" Voucher**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
                    <VOUCHER ACTION="Create" VCHTYPE=" Payment ">

[2022-10-21 03:36] sureshsirvi commented on #1003
**Journal Entry for Discount - When Amount Received less then Invoice Amount i.e. Expenses**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">

[2022-10-21 03:45] sureshsirvi commented on #1003
Journal Entry for Discount on Excess amount received - When Amount Received greater then Invoice Amount i.e. Income

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE x

[2022-10-21 05:30] sureshsirvi commented on #1003
**Invoice XML Tags**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
                    <VOUCHER ACTION="Create" VCHTYPE=" Sales ">

[2022-10-21 06:05] Avinash-ecb commented on #1720
![image](https://user-images.githubusercontent.com/46588125/197123481-ec89913b-55fa-418d-8d8f-5fac29c7bf16.png)
![image](https://user-images.githubusercontent.com/46588125/197123592-8a1a94c1-31c2-471e-be78-8f777f222153.png)
![image](https://user-images.githubusercontent.com/46588125/197124089-37cfd5ff-42c0-41b6-bef4-229be26fe4c0.png)

[2022-10-21 06:05] #1720 closed, assigned to nobody

[2022-10-21 06:32] Avinash-ecb commented on #1753
Yes It is relationship manager,
When we go from company view there is single company so we should be able to see who is relationship manager when we go from action button to change manager
From list view for sinlge company we can see who is relation ship manger.

[2022-10-21 08:53] Avinash-ecb commented on #1662
Without edit role permission
![image](https://user-images.githubusercontent.com/46588125/197155526-48f4cbc4-c27a-4cca-9a58-85a22d3f8371.png)

[2022-10-21 08:53] #1662 closed, assigned to mitulpanch, dharmendraecb

[2022-10-21 10:33] Avinash-ecb commented on #1668
@dharmendraecb this SMS icon is not changed

[2022-10-21 10:34] #1624 closed, assigned to mitulpanch, dharmendraecb

[2022-10-21 10:39] mitulpanch commented on #1668
nothing else available so not changed
Its all right, we had searched for other icons

[2022-10-21 10:53] Avinash-ecb commented on #1668
Ok @mitulpanch sir so other things are done so closing this issue

[2022-10-21 10:53] #1668 closed, assigned to mitulpanch, dharmendraecb

[2022-10-22 04:36] Avinash-ecb commented on #1691
![image](https://user-images.githubusercontent.com/46588125/197319897-3e694cdf-4db3-4243-a4fe-7b2694cd27fd.png)
![image](https://user-images.githubusercontent.com/46588125/197319912-a62d4f47-88b4-478b-b52d-d71a3a354a9d.png)

[2022-10-22 04:36] #1691 closed, assigned to nobody

[2022-10-22 05:34] Avinash-ecb commented on #1655
![image](https://user-images.githubusercontent.com/46588125/197322296-0411b437-2d6f-42fb-8ab7-666a412c7013.png)
![image](https://user-images.githubusercontent.com/46588125/197322303-98e95f4b-67b0-4c3b-918c-bdce9604a654.png)

[2022-10-22 05:34] #1655 closed, assigned to mitulpanch, dharmendraecb

[2022-10-22 06:24] Avinash-ecb commented on #1679
![image](https://user-images.githubusercontent.com/46588125/197323855-90907bff-abbb-4d4f-b12c-d24d007c5ca5.png)

[2022-10-22 06:24] #1679 closed, assigned to mitulpanch, dharmendraecb

[2022-10-22 06:32] Avinash-ecb opened #1756 "Contact/Company/Project Customfield page - When we update custom field it is not refltected to customfield list"
**Describe the bug**
- when we update customfield name it does not show change in customfield list we have to refresh the page to see the change

![image](https://user-images.githubusercontent.com/46588125/197324087-e16a3338-123a-4565-8a0e-f13b0ece6ab9.png)
![image](https://user-images.githubusercontent.com/46588125/197324123-e32d47b3-d1d6-4630-a0b8-f9e82bd429b9.png)
![image](https://user-images.g

[2022-10-22 08:41] Avinash-ecb commented on #1718
![image](https://user-images.githubusercontent.com/46588125/197329999-7bd3b2e9-714a-4ace-8587-94be2fe1f3bf.png)

[2022-10-22 08:41] #1718 closed, assigned to nobody

[2022-10-22 09:31] Avinash-ecb commented on #1674
![image](https://user-images.githubusercontent.com/46588125/197332067-9ef42835-210b-47ec-9bc7-57c219397dcb.png)
![image](https://user-images.githubusercontent.com/46588125/197332135-0ea161a8-eb2c-449c-8d5f-48f0bd45f8df.png)

[2022-10-22 09:31] #1674 closed, assigned to mitulpanch, dharmendraecb

[2022-10-23 04:24] sureshsirvi commented on #1003
**Voucher Altration**

![Image](https://user-images.githubusercontent.com/46813198/197373659-81a87f20-591c-4958-81e0-bf915e8fd769.png)

[2022-10-23 04:33] mitulpanch commented on #1003
TAGNAME TAGVALUE se unique hota he i guess

[2022-10-23 05:31] sureshsirvi commented on #1003
`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
<VOUCHER DATE="01-Apr-2022" Action="Alter" TAGNAME="REFERENCE" TAGVALUE="s_aS-1201251" VCHTYPE =

[2022-10-23 05:31] sureshsirvi commented on #1003
`<VOUCHER DATE="01-Apr-2022" Action="Alter" TAGNAME="REFERENCE" TAGVALUE="s_aS-1201251" VCHTYPE = "Payment">`
this is for alter

with
`<REFERENCE>s_aS-1201251</REFERENCE>`

[2022-10-23 07:34] mitulpanch commented on #1003
At first above thing look fine, but date combination is little problem as discussed over phone with @sureshsirvi
so We are planning to take this as GUID option on import

Guid works correctly as intended to alter, just 1 more confirmation required for GUID format Tally supports

[2022-10-23 11:15] mitulpanch commented on #1637
New Requirements -
1. Need to Track Approve / reject on Client Uploaded files
2. Approval means File is OK, and no further attention needed
3. Rejected means Delete File

ex. Companny - Mitul company is client of PGRT Accountant company
Mitul Company has 3 Custom File requirements
1. PAN
2. GST Certificate
3. Adhar card

Client uploads files inside PAN - suppose 3 PAN card copy inside PAN card cus

[2022-10-23 11:16] mitulpanch commented on #1637
Staff Uploaded files do not require Approve / reject

Approving Pan card folder will auto approve all inside files

[2022-10-23 11:18] mitulpanch commented on #1637
NO notification needed for any thing from staff
Task will be created once we create Task module, whenever client uploads a file

[2022-10-23 16:00] sureshsirvi commented on #1003
Remote id is Uniq ID and it has no fixed length.. we can use it to Alter Voucher

**`<VOUCHER REMOTEID="P-123456789" ACTION="Create" VCHTYPE=" Payment ">`**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQ

[2022-10-24 04:32] sureshsirvi commented on #1748
Common Custom Field

1. PAN : regex = "[A-Z]{5}[0-9]{4}[A-Z]{1}"
2. Aadhaar : regex = “^[2-9]{1}[0-9]{3}\[0-9]{4}\[0-9]{4}$”
3. TAN : regex = [A-Za-z]{4}[0-9]{5}[A-Za-z]{1}
4. CIN  : regex = ^([L|U]{1})([0-9]{5})([A-Za-z]{2})([0-9]{4})([A-Za-z]{3})([0-9]{6})$
5. GSTN : regex = ^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$

[2022-10-24 05:17] sureshsirvi commented on #1637
We do not need 5th type as "Project-Period-wise" ... However we need option to see same period document for "Project-Period-wise". in Project.

[2022-10-26 11:19] mitulpanch commented on #1003
API Ready

[2022-10-26 11:26] mitulpanch commented on #1676
Additional Priority assigned for Company Import

Closing this for now

will reopen if issue persists

[2022-10-26 11:26] #1676 closed, assigned to vinpahilwani

[2022-10-26 11:27] mitulpanch commented on #1676
Now Company Import has top 10 priority, along with New Company Setup, Payment Confirmation, and Other more critical things

[2022-10-26 11:30] mitulpanch commented on #1612
This requires new Module, If you want to proceed then this will take about 2-3 days for design / Api requirements

[2022-10-26 11:40] mitulpanch commented on #1560
https://github.com/Fammeo/EasyCloudBooks/issues/1560#issuecomment-1243229464

past comments are not valid anymore,
we have now developed new File Section like Custom Field called Custom File. with discussion with @vinpahilwani and @sureshsirvi

[2022-10-26 11:42] mitulpanch commented on #1560
still no discussion about this documents section,
I strongly believe that documents section is still required for Common Files, Vault, Public , Website related sections

[2022-10-27 03:25] mitulpanch commented on #1637
Project-year-service (shared) custom file -
are complex to process

I need different API to structure them

I think it better show them in different grouping on Custom File View due to different API requirement

I have explained this to @vinpahilwani

[2022-10-27 04:46] vinpahilwani commented on #1749
mujhe isme kya decide karna hai?

[2022-10-27 04:48] vinpahilwani commented on #1748
yes for contact and company we require this feature

[2022-10-27 05:22] mitulpanch commented on #1637
New Requirements over phone with @vinpahilwani

---

5th Type

Name - **Company-Specific**
attachment Logic-
(Company and Service wise as relation) - for creation -
attach Custom File to Company when a Project comes for particular service

File share structure -( Company - year - period wise)
Files are shared between Custom Files when same period file exists for Company

Visible on Projects , Proj

[2022-10-27 05:33] mitulpanch commented on #1637
Flow requirements -

---

Ideal Flow -

1. Create Custom File with specific names like -
         a. Bank-Statement-HDFC
         b. Bank-Statement-ICICI
         c. Bank-Statement-PAYTM
2. Then need to Attach Custom Files to Services while creation, on which service this is Applicable like
         a. GSTR
         b. GSTR-3B
         c. GSTR-2
3. Then attach Companies for which Custom File is ap

[2022-10-27 05:50] mitulpanch commented on #1637
Project Manager Flow -

Attachment of Company-wise Custom file should be easy

---

1. On Project Details - Project manager opens custom file view and he/she realizes Bank-Statement-HDFC is not taken for Project , so  he can attach Custom File from Past creation of Custom Files. I am considering some new design for this according to past created Designs nothing special
2. Attach should be easy, li

[2022-10-27 05:53] mitulpanch commented on #1637
Bank-Statement Generalized Custom File is required for new Client as PGRT may not know actual Bank of Company,
but for Company have bank details , and still using BANK-Statement generalized Custom files are strongly discouraged

Common Custom file for Company-specific Custom File will create lot of confusion on long term. specific Custom file should be used with correct specifical names, Common at

[2022-10-27 05:56] mitulpanch commented on #1637
I have explained all of above thing to @vinpahilwani , His reply is awaited
I also welcome @sureshsirvi for his views

[2022-10-27 06:46] vinpahilwani commented on #1637
yes I agree on this

[2022-10-28 11:35] mitulpanch commented on #1003
Available on Admin companies for Testing
still waiting for any changes

[2022-10-28 13:18] mitulpanch commented on #1704
API Ready

[2022-10-28 13:18] mitulpanch commented on #1706
API-Ready

[2022-10-28 13:19] mitulpanch commented on #1705
API Ready

[2022-10-28 13:21] mitulpanch commented on #1637
API almost ready, waiting for Design time / Testing related changes

[2022-10-29 03:13] mitulpanch commented on #1693
No Comments from @vinpahilwani , @sureshsirvi
I consider this as approved, as everything is api ready now, and discussed over phone

[2022-10-29 03:59] mitulpanch commented on #1737
Api -
Staff Invide multiple - staff/invitestaffs

[2022-10-29 04:00] mitulpanch commented on #1737
@sureshsirvi
Please specify Packages required, so we can process

[2022-10-29 04:00] mitulpanch commented on #1737
No Comments from @vinpahilwani,
starting work on this

[2022-10-29 04:12] mitulpanch commented on #1737
@sureshsirvi
suggested to give **Skip** button on eash step, so user can skip who dont want this

[2022-10-29 05:00] mitulpanch commented on #1737
@vinpahilwani , over phone new requirement

Start Up page should go all way upto Import Project step with confirmation,
Confirmation will require more step to process in flow

[2022-10-29 05:21] mitulpanch commented on #1737
New Layers -

Steps
 1. Select Type of Organization Ie. CA, CS, Lawyer etc
2. Select Package that applies to Suggested on Organization type
3. Take Staff emails to send Invite
4. Wait for Package Import, Services creation. then show no of services , take confirmation from User and that 10 Services offered by Your Company
5. Contact Company Import Stage - Open Company import section on new tab, kee

[2022-10-29 05:24] mitulpanch commented on #1737
New Menu required to go to Start Up page again
No force by ECB, at any time Staff can go forward or Backward to any stage to repeat step. this was in favor of Staff who first test ecb and then start actual working , they can go to Start Up page from menu after initial testing of ECB after some days

Staff can close wizard any time, no force, User will open wizard again if required, ecb will not in

[2022-10-29 06:18] mitulpanch opened #1757 "Document Page - Give Copy Download link of File"
sometimes Staff just requires link to share with Client over whatsapp or other channel,
Email / SMS this there but links are more convenient in some cases

Solution -
Give Copy Link button on Preview Section, so click will copy download link to share

[2022-10-29 06:18] mitulpanch commented on #1757
Initiated by @sureshsirvi
Verified by @mitulpanch

[2022-10-29 06:23] mitulpanch opened #1758 "Company Page - New Service Link import Required"
Problem -
Linking Services to Companies is pain

Clients generally have sheet for every service,
ie.
ITR filling software give Companies list with PAN
GST filling software gives Companies list in PAN

this sheet can be imported to ECB

Solution-
1. Give to Import Option on company Page
2. Import sheet and then Select service for this sheet is applied
3. ECB will link Service to clients

Initiated

[2022-10-29 06:26] mitulpanch opened #1759 "Company Page - Multiple Selection beyond Paging"
Problem -
Linking Service is problem on Company Page
Currently Beyond Selection is only work if All Selected

Selection should be kept on while page is changed
this will help doing multiple action like service link

Solution
1. I will ask @dharmendraecb about this selection
2. Time to develop is little high as this interact with all things

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-10-29 16:24] sureshsirvi commented on #1003
Testing Error

Error from Tally during Ledger Import

****Importing Data from 'F:\ecb Testing\LedgerImport-1.xml' on 29-Oct-22 at 21:51:28

Importing Data to company: 'Testing'

ERROR: Ledger: REMOTEID:-63lqqd9jUqG8fBkLOOHAw
       Group 'Sundry Deptors' does not exist!

Import Summary
Created : 0
Altered : 0
Deleted : 0
Combined: 0
Ignored : 0
Errors  : 1
-----------------------------------------

[2022-10-29 16:33] sureshsirvi commented on #1003
Error in Transaction File:

Importing Data from 'F:\ecb Testing\transactions-2.xml' on 29-Oct-22 at 21:58:16

Importing Data to company: 'Testing'

ERROR: Voucher: ID:<REMOTEID:YXTj_uFEg0aWbRbo8cfbZQ>, Voucher Type: Sales, Source Voucher Number: , Voucher Number: 1, Date: 2-Apr-22
       **Ledger 'Default Bank' does not exist!**

Import Summary
Created : 0
Altered : 0
Deleted : 0
Combined: 0
Ignor

[2022-10-30 05:01] sureshsirvi commented on #1003
Error Correction Required: Corrected tags..

**Receipt**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
                    <VOUCHER REMOTEID=

[2022-10-30 05:01] sureshsirvi commented on #1003
Error Correction Required: Corrected tags..

**Payment**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
                    <VOUCHER REMOTEID=

[2022-10-30 05:44] mitulpanch commented on #1003
Konse tag me error he sir?

[2022-10-30 14:03] sureshsirvi commented on #1003
We need following Default Ledgers

1. "Gross Receipt" Group "Indirect Incomes" - for Invoice Voucher
2. "Output CGST" Group "Duties & Taxes" - for Invoice Voucher
3. "Output SGST" Group "Duties & Taxes" - for Invoice Voucher
4. "Output IGST" Group "Duties & Taxes" - for Invoice Voucher
5. "Cash and Bank" Group "Cash-in-Hand" - for Receipt & Payment Voucher for Blank Payment Mode.
6. "Discount" Gro

[2022-10-30 14:14] sureshsirvi commented on #1003
**Sales Invoice TAG with CGST and SGST and IGST Ledger**

`<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
            </REQUESTDESC>
            <REQUESTDATA>
                <TALLYMESSAGE xmlns:UDF="TallyUDF">
			<VOUCHER REMOTEID="D2aKeXDtTEymuUbR

[2022-10-31 02:39] vinpahilwani commented on #1736
Hum isme custom fields bhi include karne wale hai kya?

[2022-10-31 02:40] vinpahilwani commented on #1612
Ok We can postpon it for some time, No Hurry

[2022-10-31 02:42] vinpahilwani commented on #1607
same design?

[2022-10-31 03:42] mitulpanch commented on #1736
no, but agar chahiye then please specifiy

[2022-10-31 03:43] mitulpanch commented on #1736
Please give me clear view, that how much needed to plan kar sake

[2022-10-31 03:43] mitulpanch commented on #1612
Closed for now

[2022-10-31 03:43] #1612 closed, assigned to nobody

[2022-10-31 10:18] Avinash-ecb opened #1760 "Project Page - When try to add tag from project view page it shows blank page"
**Describe the bug**
- when we try to add tags from project view page it opens add tag page but showing blank

![image](https://user-images.githubusercontent.com/46588125/198985218-2c863fa2-0892-4ed5-9315-d0d4c9f871cd.png)
![image](https://user-images.githubusercontent.com/46588125/198985263-868b7395-bffa-4ff4-8857-93d18c0eab6f.png)

https://www.berrycast.com/conversations/72fedf5b-313a-5e9c-a62e-

[2022-10-31 10:49] sureshsirvi commented on #1003
Payment -
Bank Leadger - Positive Value anan chahiye
Sales -
Tax mcomponent chahiye - Positive ayega
Bank ke jagaj - Gross Receipt
Gross Receipt Leadger - Positive Value anan chahiye
Receipt
Bank - Negetive value ayega
Default Bank - ke jagah - Cash and Bank chahiye

[2022-10-31 12:17] mitulpanch commented on #1003
All live, available for  testing @sureshsirvi

[2022-10-31 13:56] mitulpanch commented on #1003
REFERENCE Tag added on request from @sureshsirvi
RefNo on transaction will be added to tag value

[2022-11-01 03:53] Avinash-ecb opened #1761 "Company Page - There should be a validation message for url customfield type"
**Describe the bug**
- When we are try to save url type customfield if we enter any data it is not accepting and not showing any validation message
- There should be a validatation message.

![image](https://user-images.githubusercontent.com/46588125/199153769-cd17b84e-397c-4ca6-a3c9-b8dc4e2a63a9.png)

https://www.berrycast.com/conversations/1315fc4c-9cae-5996-8451-396f826e5bb9

[2022-11-02 05:58] mitulpanch commented on #1696
This is required for -
1. Contact
2. Company
3. Project
4. Transaction

Works in Background
Confirmed over Phone with @vinpahilwani

[2022-11-02 08:54] mitulpanch commented on #1696
Api ready

[2022-11-02 10:01] mitulpanch commented on #1686
Closing to clear board

[2022-11-02 10:01] #1686 closed, assigned to mitulpanch, dharmendraecb

[2022-11-02 10:07] mitulpanch commented on #1611
No Comments from @sureshsirvi
Going forward

[2022-11-02 11:29] mitulpanch commented on #1758
Api Ready

This is Link Import
This will not create Company - This is just linking to a service

1. Create Import Sheet with Company Name, PAN card, either 1 is Required
2. While Uploading File, Service need to be selected, single selection
3. Job with import will be created for background Task

[2022-11-02 11:30] mitulpanch commented on #1758
still waiting for confirmation from @vinpahilwani , @sureshsirvi

[2022-11-03 06:22] Avinash-ecb opened #1762 "Contact Page - Data is not updated after upload customfield in multiple action button"
**Describe the bug**
- when we uplod custom field from contact view-multiple action-upload customfield it does not reflect any change in contact view
- we have to close view and open to see changes

![image](https://user-images.githubusercontent.com/46588125/199658474-2a494569-2418-4f86-9a41-32062c6ff9f4.png)
![image](https://user-images.githubusercontent.com/46588125/199658516-f1655257-511d-4788-

[2022-11-03 10:57] Avinash-ecb opened #1763 "Manager Year Page - Remove multiple select checkbox if not required or use in future"
**Describe the bug**
- Remove multiple select checkbox if it is not used or any future use

![image](https://user-images.githubusercontent.com/46588125/199703634-2c778ae3-c19b-4a4f-bb74-205cabc6a92f.png)

https://www.berrycast.com/conversations/89e7ebe6-758a-5915-9094-9cf7ef25f875

[2022-11-03 11:40] mitulpanch commented on #1762
Please provide details - about
Template used
MApping used

[2022-11-03 11:41] mitulpanch commented on #1763
Keeping it on Hold,
We follow Theme structure, this happens at many places,
It dont bother to any existing structure

[2022-11-04 04:38] mitulpanch commented on #1746
I guess this is solved, but issue was not moved

[2022-11-04 04:39] mitulpanch commented on #1745
I believe this is fixed , but not moved

[2022-11-04 04:40] mitulpanch commented on #1744
I believe this is fixed, but not moved

[2022-11-04 04:40] mitulpanch commented on #1743
I believe this is fixed, but not moved

[2022-11-04 04:41] mitulpanch commented on #1742
I believe this is fixed, but not moved

[2022-11-04 04:41] mitulpanch commented on #1741
I believe this is fixed, but not moved

[2022-11-04 04:42] mitulpanch commented on #1740
I believe this is fixed, but not moved

[2022-11-04 04:42] mitulpanch commented on #1739
I believe this is fixed, but not moved

[2022-11-04 04:43] mitulpanch commented on #1735
I believe this is fixed, but not moved

[2022-11-04 04:43] mitulpanch commented on #1734
I believe this is fixed, but not moved

[2022-11-04 04:43] mitulpanch commented on #1733
I believe this is fixed, but not moved

[2022-11-04 04:45] mitulpanch commented on #1733
not sure what the meaning @mitulpanch

[2022-11-04 04:45] mitulpanch commented on #1732
I believe this is fixed, but not moved

[2022-11-04 04:46] mitulpanch commented on #1732
This was not issue, just module was working in background
i have explained this ti @Avinash-ecb

[2022-11-04 04:46] mitulpanch commented on #1731
URL validation required

[2022-11-04 04:48] mitulpanch commented on #1730
I believe this is fixed, but not moved

[2022-11-04 04:48] mitulpanch commented on #1730
Revert back if still error

[2022-11-04 04:49] mitulpanch commented on #1729
I believe this is fixed, but not moved

conversation takes some time to execute, till then old values are displayed

[2022-11-04 04:50] mitulpanch commented on #1728
I believe this is fixed, but not moved

[2022-11-04 11:08] Avinash-ecb commented on #1562
Currently other user can not change working paper

https://www.berrycast.com/conversations/720eda34-4cf1-5313-8a8c-bf029ab877f5

[2022-11-04 11:08] #1562 closed, assigned to mitulpanch, dharmendraecb

[2022-11-05 03:37] Avinash-ecb opened #1764 "Project Page - When we upload customfiel through multiple action it does not reflect in project view immediately"
**Describe the bug**
- when we upload customfield from multiple action it does not show any change
- we have to close and open project to see change

![image](https://user-images.githubusercontent.com/46588125/200099195-aeeb1a3d-5dbe-4439-82d2-534a5d59c15d.png)

[2022-11-05 03:44] Avinash-ecb opened #1765 "Company Page - Template not showing while sending email, notification, sms in muliple action button"
**Describe the bug**
- when we try to send notification, email, sms or upload customfield template are not showing both place inside company view and company list

![image](https://user-images.githubusercontent.com/46588125/200099308-e4386985-de75-4e75-854d-e2c7f4d9a1e0.png)
![image](https://user-images.githubusercontent.com/46588125/200099355-8b337ae8-dfbf-429f-9908-4e9f1b369c11.png)

[2022-11-05 03:48] Avinash-ecb opened #1766 "Company Page - Remove manager confirmation required in multiple action list view and company view"
**Describe the bug**
- when we try to remove relationship manager it does not asked any confirmation
- It should ask confirmation to remove manager

![image](https://user-images.githubusercontent.com/46588125/200099494-eb149ab6-4948-4046-bce2-1c8cab34693d.png)
![image](https://user-images.githubusercontent.com/46588125/200099505-dc02575d-f932-4f39-9a2e-ea21362a8848.png)

[2022-11-05 04:12] mitulpanch commented on #1764
please upload video, i need to see flow

[2022-11-05 04:30] Avinash-ecb opened #1767 "Project Page - Work done icon and text color not matching in multiple action project view"
**Describe the bug**
- work done icon and text color are not matching they shoud be match

![image](https://user-images.githubusercontent.com/46588125/200100930-fd4d9663-34ca-4036-b371-e681980de9d5.png)

[2022-11-05 06:01] mitulpanch opened #1768 "Company Page - Ledger Project Count"
Problem-
User wants to see same project count as Transaction Page

Technical / Discussion-
Contact / Company Page shows all project which are not billed, in favor of seeing actual data, not possibilities
Billing work is done from Transaction page, where only possible projects are visible apart from Contract

Contract billing work in different methods, so actual data is varied from Possible project

[2022-11-05 06:01] mitulpanch commented on #1768
https://github.com/Fammeo/EasyCloudBooks/issues/1046#issuecomment-1118462494

this confirms that

[2022-11-05 06:03] mitulpanch commented on #1768
@vinpahilwani We tend to forget why above thing was created thats why we need to write all possible query solution

Please Provide all your views

I urge both @vinpahilwani , @sureshsirvi to write all your views, why thing was created, how you are planning to use.

[2022-11-05 06:03] mitulpanch commented on #1768
If @vinpahilwani sir, you want to revert, change then write it here,
so i can plan out

[2022-11-05 09:07] mitulpanch commented on #1721
Consent API Ready for Multiple contacts

[2022-11-05 09:51] Avinash-ecb commented on #1764
https://www.berrycast.com/conversations/1d077f0c-985c-5dcd-8e56-8381b5db6165

[2022-11-07 04:21] Avinash-ecb opened #1769 "Contact/Company/Project Custom field Page - When filter customfield it does not trim space and can not find result"
**Describe the bug**
- when there is space while filter customfield it does not show any result
![image](https://user-images.githubusercontent.com/46588125/200229755-8f24ff56-24c6-4775-a601-ea540c4d123d.png)
![image](https://user-images.githubusercontent.com/46588125/200229835-848a0d9c-c547-4210-b5fc-c82627b964ae.png)

[2022-11-07 07:57] Avinash-ecb commented on #1673
It is goint to company website
https://www.berrycast.com/conversations/18cb70a0-7f2a-5013-94db-599277ed68bb

[2022-11-07 07:57] #1673 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 07:59] Avinash-ecb commented on #1684
![image](https://user-images.githubusercontent.com/46588125/200256353-cc045038-7b1b-4b42-b7cb-c680ec41c32f.png)

[2022-11-07 07:59] #1684 closed, assigned to nobody

[2022-11-07 08:46] #1729 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:46] #1728 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:51] #1732 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:51] #1734 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:52] #1735 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:52] #1739 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:53] #1740 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:53] #1741 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:53] #1742 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:54] #1744 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:54] #1745 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 08:55] #1746 closed, assigned to mitulpanch, dharmendraecb

[2022-11-07 10:46] Avinash-ecb commented on #1581
https://www.berrycast.com/conversations/4cf87ffc-2da4-548e-805a-70797e58629c
![image](https://user-images.githubusercontent.com/46588125/200291170-9bbe4e29-9fc5-4e21-bc09-c285b37eec7e.png)

[2022-11-08 07:24] Avinash-ecb opened #1770 "Project CustomField Page - Title should be Project Custom Field"
**Describe the bug**
- Change project customfield page title Project => Project Custom Field

![image](https://user-images.githubusercontent.com/46588125/200500320-3dc9f5c7-206f-4e6d-bfc0-ff7c15f1159a.png)

[2022-11-08 09:12] Avinash-ecb commented on #1760
![image](https://user-images.githubusercontent.com/46588125/200523489-200985af-5834-4e79-baf8-c531b9cdec90.png)

[2022-11-08 09:12] #1760 closed, assigned to mitulpanch, dharmendraecb

[2022-11-08 09:16] Avinash-ecb commented on #1625
![image](https://user-images.githubusercontent.com/46588125/200524628-6f992289-2eb2-43e1-a256-c8b7c72d8c94.png)
![image](https://user-images.githubusercontent.com/46588125/200524699-28e70e57-e8e7-4592-9172-899a1b71f7c1.png)

[2022-11-08 09:16] #1625 closed, assigned to nobody

[2022-11-08 09:29] #1692 closed, assigned to nobody

[2022-11-08 09:32] Avinash-ecb commented on #1692
![image](https://user-images.githubusercontent.com/46588125/200527924-a7fbb0ca-9e7d-4f8c-b16c-6e1f10b7efb3.png)
![image](https://user-images.githubusercontent.com/46588125/200528167-788dd86c-a9f6-4694-9042-f7ac86c78418.png)

[2022-11-09 03:31] Avinash-ecb commented on #1762
Template name: Test Contact
{
  "contact": [

     {
        "id":"01",
        "name": "Avinash",
        "lastname": "Koshti",
		"Line1":"Line1",
		"Line2":"Line2",
		"City":"City",
		"State":"State",
		"Pincode":"98764"
     }
  ]
}

[2022-11-09 05:27] Avinash-ecb opened #1771 "Contact Page - When delete contact using multiple action in list view it does not reflect"
**Describe the bug**
- When delete single/multiple contact from contact list using action job task is finished then also this contacts is not deleted

![image](https://user-images.githubusercontent.com/46588125/200746329-c11cd299-f0ad-44d4-9fda-45f1bbe11bf9.png)![image](https://user-images.githubusercontent.com/46588125/200746117-d7f97b81-e80c-4388-b225-54778ff176e1.png)
![image](https://user-imag

[2022-11-09 07:15] Avinash-ecb commented on #1762
I think it is page refresh issue
https://www.berrycast.com/conversations/8c9b098c-0f1a-5d74-8e48-47cb4804a739

[2022-11-09 08:54] Avinash-ecb opened #1772 "Company Page - When delete company using action it does not reflect in company list"
**Describe the bug**
- when we try to delete company using action button it does not delete company

![image](https://user-images.githubusercontent.com/46588125/200784241-e329d12d-f614-4934-a76c-13054eaa591a.png)
![image](https://user-images.githubusercontent.com/46588125/200784330-267123a2-c621-4972-b4f1-95346a450acb.png)
![image](https://user-images.githubusercontent.com/46588125/200784400-a4a06

[2022-11-09 09:39] Avinash-ecb opened #1773 "Company Page - When we try to change company industry type to other using action button it shows error message"
**Describe the bug**
- when we try to change industry type to other using action button it shows error message
- in edit view it is working perfectly
![image](https://user-images.githubusercontent.com/46588125/200794863-df8ca11c-8b61-420f-9f26-8527b2cac530.png)
![image](https://user-images.githubusercontent.com/46588125/200794969-6592c5f4-708e-43dc-9641-0f529ceb6426.png)
![image](https://user-imag

[2022-11-10 04:12] Avinash-ecb opened #1774 "Company Page - When we remove manager using action it does not ask for confirmation"
**Describe the bug**
- when we remove relationship manager it does not ask for confirmation both **side list view and detail view**
![image](https://user-images.githubusercontent.com/46588125/200998956-351ff66e-7a84-467c-91f1-add0296d062c.png)

[2022-11-10 04:25] Avinash-ecb commented on #1774
#1766

[2022-11-10 04:25] #1774 closed, assigned to mitulpanch, dharmendraecb

[2022-11-10 04:32] Avinash-ecb opened #1775 "Company Page - When we upload customfield it does not show data immediately we have to close and open to view"
**Describe the bug**
- When we upload customfield it updates data but not showing immediately we have to close and again open to see the change
- Page data is not refresh

Template name: test
mapping:
{
  "contact": [

     {
        "id":"01",
        "name": "abc",
        "lastname": "xyz",
		"Line1":"242, Capital Squre1",
		"Line2":"Shakti Nagar, Parvat Gav1",
		"City":"Surat1",
		"State":"Guj

[2022-11-10 05:32] Harsheasy opened #1776 "Company Export but Project Not Created By Kailash Joshi"
Company Name: Fresh Loan
ACId: 487
User Name: Kailash Joshi

4th November Company Export but many Company Project Not Created.

![Project not created red color](https://user-images.githubusercontent.com/77724114/201008489-da238619-3cbc-4cd6-b113-e5f1ad292861.png)
[07-11-2022-06-23-33-178-1.xlsx](https://github.com/Fammeo/EasyCloudBooks/files/9977626/07-11-2022-06-23-33-178-1.xlsx)

[2022-11-10 06:14] Avinash-ecb opened #1777 "Project Page - When try to change project status from action project list view save button does not work"
**Describe the bug**
- when we try to change project status to another status from project list action view save button is not working
- It does not call any api

![image](https://user-images.githubusercontent.com/46588125/201014402-12f83d28-6438-4613-96d7-13728e98d0f4.png)

[2022-11-10 07:59] Avinash-ecb opened #1778 "Project Page - When we upload customfield data then it does not reflect immediately"
**Describe the bug**
- when we upload customfield then we have to close and again open project view page to see change
- After upload it does not reflect immediatly

Template :test project
json maping
{
  "contact": [

     {
        "id":"01",
        "name": "abc",
        "lastname": "xyz",
		"Line1":"242, Capital Squre1",
		"Line2":"Shakti Nagar, Parvat Gav1",
		"City":"Surat1",
		"State":"Guj

[2022-11-10 09:50] dharmendraecb commented on #1773
Other Allow karna he @mitulpanch

[2022-11-11 03:18] mitulpanch opened #1779 "Setting Page - Transaction ON / OFF button Required"
ON / Off button required for Transaction Module

1. This is just display option,
2. hide menu for - Transaction Page, Ledger Options
3. Query Builder , And other integrated Option will work as it is,
4. Only cosmetic Options are hidden

Initiated by @vinpahilwani
Verified by @mitulpanch

[2022-11-11 03:28] Avinash-ecb commented on #1636
![image](https://user-images.githubusercontent.com/46588125/201256656-860c8c86-5ebc-4138-8cd0-b2ba50489055.png)
![image](https://user-images.githubusercontent.com/46588125/201256728-80c61dce-e363-4cdd-a8a7-5f1506bab815.png)

[2022-11-11 03:28] #1636 closed, assigned to nobody

[2022-11-11 04:03] Avinash-ecb commented on #1765
![image](https://user-images.githubusercontent.com/46588125/201260576-74493cd3-ea81-4f98-adfb-c6bdc867bd7a.png)
![image](https://user-images.githubusercontent.com/46588125/201260599-7f524ef6-0766-453b-bfaf-a0fec748326b.png)
![image](https://user-images.githubusercontent.com/46588125/201260647-df7c5940-1b61-4ebf-acc0-4aea8d375c08.png)
![image](https://user-images.githubusercontent.com/46588125/2012

[2022-11-11 04:03] #1765 closed, assigned to mitulpanch, dharmendraecb

[2022-11-11 04:28] Avinash-ecb commented on #1719
![image](https://user-images.githubusercontent.com/46588125/201263235-63c85a63-51ba-4d70-93d4-53c953d018ed.png)
![image](https://user-images.githubusercontent.com/46588125/201263261-871927e2-bd52-4a73-bccc-fd6ac39e608e.png)

[2022-11-11 04:28] #1719 closed, assigned to mitulpanch, dharmendraecb

[2022-11-11 05:15] Avinash-ecb commented on #1766
![image](https://user-images.githubusercontent.com/46588125/201268380-6d59342e-12db-4c3f-9cc0-5e262600012b.png)
![image](https://user-images.githubusercontent.com/46588125/201268449-901a42fe-8d8d-4fc6-ab20-3df166f4c818.png)

[2022-11-11 05:15] #1766 closed, assigned to mitulpanch, dharmendraecb

[2022-11-11 06:45] Avinash-ecb commented on #1667
https://www.berrycast.com/conversations/9c0a1509-d82c-5080-9896-7e8f96505411

[2022-11-11 06:45] #1667 closed, assigned to mitulpanch, dharmendraecb

[2022-11-11 06:46] Avinash-ecb opened #1780 "Project Page - Show User name who change status to complete by Aakash Kumar"
**Describe the bug**
- Sometimes staff change some projects status to complete and work on that projects on due date and few are completed and other are not then project manager sees project are completed but actual some project are incompleted
- There is one option status note when status change to  completed but this not compulsory so staff not provide any note and change status so project manag

[2022-11-11 07:29] Avinash-ecb opened #1781 "Reduce click event from pages By Aaskash Kumar"
**Describe the bug**
- When working on project some staff enter data and click outside and they miss to click on save button when due date is near and  so they faces issue of missing details or functionality not working

**Client solutions**
- When we filter contact/company/project then after selecting filter option and click outside it should save and apply filter
- If we change status on project

[2022-11-11 11:30] #1712 closed, assigned to mitulpanch, dharmendraecb

[2022-11-12 03:54] Avinash-ecb commented on #1683
![image](https://user-images.githubusercontent.com/46588125/201455423-fb50a5b1-e93f-488b-9b7a-b90a06ba8736.png)

[2022-11-12 03:54] #1683 closed, assigned to nobody

[2022-11-12 06:38] #1724 closed, assigned to mitulpanch, dharmendraecb

[2022-11-12 06:43] Avinash-ecb opened #1782 "Project Customfield page - Staff has permission to edit customfield but showing error message"
**Describe the bug**
- Staff has following permission but when staff edit any customfield value server side error message shows
![image](https://user-images.githubusercontent.com/46588125/201461145-3d36f532-f6ec-4eee-b14c-b3bd818f7555.png)
![image](https://user-images.githubusercontent.com/46588125/201461225-94c99155-0c42-4d94-9879-558b2580a3bc.png)

![image](https://user-images.githubusercontent.

[2022-11-12 08:06] #1748 closed, assigned to nobody

[2022-11-13 11:23] mitulpanch commented on #1782
API Ready

[2022-11-13 11:23] mitulpanch commented on #1782
Need to send Mode = Project / ProjectCustomField to set roles correctly

[2022-11-13 11:26] mitulpanch commented on #1773
Ready for Other
This and Legal Structure too

[2022-11-13 11:40] mitulpanch commented on #1776
dont know, what is the error,
There is no Project import facility by Excel sheet

[2022-11-13 11:44] mitulpanch commented on #1776
i can not see any Project import Module being utilized on 13th for 4th November.
Please provide complete error so i can check

[2022-11-14 03:47] Avinash-ecb commented on #1682
![image](https://user-images.githubusercontent.com/46588125/201570459-0fe451a7-54a3-4e2e-b340-09de3a9e616a.png)
![image](https://user-images.githubusercontent.com/46588125/201570503-3881a021-8d60-4564-89a3-1f0aa46a135f.png)
![image](https://user-images.githubusercontent.com/46588125/201570592-c9d2d9fc-a8e2-4a03-8feb-e42a1336dbc2.png)

[2022-11-14 03:47] #1682 closed, assigned to nobody

[2022-11-14 04:47] Avinash-ecb commented on #1688
![image](https://user-images.githubusercontent.com/46588125/201577464-80c1147a-38e3-4a75-abab-68247d1b9872.png)
https://rajassociates.easycloudbooks.com/transactionprint?crids=uAvuD_gHykyJBSlwbzZx6Q&startdate=2021-03-31T18:30:00&enddate=2023-03-31T18:29:59

[2022-11-14 04:47] #1688 closed, assigned to nobody

[2022-11-14 06:44] mitulpanch opened #1783 "Transaction Page - Settlement Button Required Outside, Edit, Print on single transaction view"
Problem -
1. User wants to quick settle transaction from outside window
2. Current Action adds 1 more step to process
3. Also Transaction View Mode also requires 2 more buttons, Edit & Print

Revert -
This was removed in favor of single button action to all the modules like Company, contact , Project, Transaction
so end user can get better and more actions on single action button

Solution-
1. Set

[2022-11-14 07:08] Avinash-ecb commented on #1646
https://www.berrycast.com/conversations/372ba735-5bb8-5bcc-a06c-772b540c5da6
![Uploading image.png…]()

[2022-11-14 07:08] #1646 closed, assigned to nobody

[2022-11-14 08:12] mitulpanch opened #1784 "Transaction - Edit from Action is not working correctly"
Problem-
1. Editing Receipt transaction gives Invoice Edit section

Initiated by Deepa Pahilwani
Verified by @mitulpanch

[2022-11-14 08:14] mitulpanch commented on #1784
https://www.berrycast.com/conversations/d27f60ca-3011-535e-8c70-bdcd591ffc80

[2022-11-14 08:20] Avinash-ecb commented on #1628
![image](https://user-images.githubusercontent.com/46588125/201609686-3267a5fc-a154-4898-aa4d-cf6b32265bcf.png)
![image](https://user-images.githubusercontent.com/46588125/201609865-16e47880-cc0c-4d39-b1e6-4e766ca25339.png)

[2022-11-14 08:20] #1628 closed, assigned to nobody

[2022-11-15 09:53] mitulpanch opened #1785 "Document Page - Give File Name"
Requirement -
Give File name on top title

like -
washing machine samsung.pdf - Preview
in below image

![image](https://user-images.githubusercontent.com/5259926/201888218-0f621f09-45e0-4155-b08b-8ea36d4ea6ef.png)

[2022-11-15 09:54] mitulpanch commented on #1785
initiated by @vinpahilwani
Verified by @mitulpanch

[2022-11-15 09:57] mitulpanch commented on #1785
All preview comes with File name
![image](https://user-images.githubusercontent.com/5259926/201889325-19567f35-3e61-441f-903e-238cc4d83bb6.png)

on above image also filename is visible

Do you still need this? @vinpahilwani

[2022-11-17 04:37] Avinash-ecb commented on #1003
After discuss with @mitulpanch sir over this is remaining to confirm from @sureshsirvi sir side

[2022-11-17 05:00] Avinash-ecb commented on #1723
![image](https://user-images.githubusercontent.com/46588125/202360280-d54c7326-cea0-4d1e-8e7a-0fe0f9afe4ff.png)

[2022-11-17 05:00] #1723 closed, assigned to nobody

[2022-11-17 05:01] Avinash-ecb commented on #1351
![image](https://user-images.githubusercontent.com/46588125/202360303-9acf6bb7-fcb5-44b8-b74a-bb531e331e84.png)

[2022-11-17 05:01] #1351 closed, assigned to dharmendraecb

[2022-11-17 10:10] Avinash-ecb commented on #1647
![image](https://user-images.githubusercontent.com/46588125/202418435-287e5374-0633-4b63-a5c9-f17193f62cdc.png)
![image](https://user-images.githubusercontent.com/46588125/202418488-afa3b3c5-eb4c-4fc8-bbe9-c2a96602a687.png)

[2022-11-17 10:10] #1647 closed, assigned to nobody

[2022-11-17 11:35] mitulpanch opened #1786 "Common - Change Master Owner"
Some user wants to change owner of company

Initiated by @vinpahilwani
Verified by @mitulpanch